{# tool menu #}
{% from 'macros/_icons.html.twig' import icon %}
{% if is_granted_data or is_granted_task or is_admin %}
    <li class="nav-item dropdown">
        <button class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ icon('tools', 'index.menu_tools') }}
        </button>
        {{ include('navigation/menu/_menu_tools.html.twig') }}
    </li>
{% endif %}
