<li class="nav-item dropdown">
    {{- include('navigation/menu/_menu_user_button.html.twig', {
        button_class: [],
        dropdown_class: 'dropdown-menu-end',
        full_width: false}) -}}
</li>
