{# user menu #}
{% from 'macros/_icons.html.twig' import icon %}
<li class="nav-item dropdown">
    <button class="nav-link dropdown-toggle" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        {% apply spaceless %}
            {% set image = asset_image_user(app.user, '032', {'alt': 'user.fields.imageFile'|trans, 'title': app.user.userIdentifier, 'class': 'avatar rounded-circle me-1'}) %}
            {% if image %}{{ image|raw }}{% else %}{{ icon('user fa-lg far me-2') }}{% endif %}<span class="d-lg-none">{{ app.user.userIdentifier }}</span>
        {% endapply %}
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
        {{ include('navigation/menu/_user_menu.html.twig') }}
    </ul>
</li>
