<li class="nav-item dropdown">
    <button class="nav-link dropdown-toggle" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        {%- set image = asset_image_user(app.user, 32, {alt: 'user.fields.imageFile'|trans, title: app.user.userIdentifier, class: 'avatar rounded-circle'}) -%}
        {%- if image -%}
            {{- image|raw -}}
        {%- else -%}
            <span class="badge rounded-circle text-bg-secondary user-image-empty">{{ app.user.initials }}</span>
        {%- endif -%}
        <span class="d-lg-none ms-2">{{ app.user.userIdentifier }}</span>
    </button>
    {{ include('navigation/menu/_menu_user.html.twig', {dropdown_class: 'dropdown-menu-end'}) }}
</li>
