{# data menu #}
{% from 'macros/_icons.html.twig' import icon %}
<li class="nav-item dropdown">
    <button class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ icon('database', 'index.menu_data') }}
    </button>
    {{ include('navigation/menu/_menu_data.html.twig', {'display_calculations': false}) }}
</li>
