<div class="card">
    <div class="card-header card-collapse" id="mysq-header">
        <a data-toggle="collapse" role="button" href="#mysql" class="card-link" aria-expanded="false" aria-controls="mysql">{{ 'about.sql'|trans }}</a>
    </div>
    <div id="mysql" class="card-body collapse" aria-labelledby="mysq-header" aria-expanded="false" data-parent="#accordionAbout" data-url="{{ path('ajax_mysql') }}">
        <div class="alert mb-0">
            <span class="spinner-border spinner-border-sm text-secondary" role="status" aria-hidden="true"></span>
            <span>{{ 'about.loading'|trans }}</span>
        </div>
    </div>
</div>
