<div class="row no-gutters">
    <div class="col">
        <div class="card mb-2">
           <div class="card-header card-collapse">
                <a data-toggle="collapse" href="#policy" class="card-link" aria-expanded="false" aria-controls="policy">{{ 'index.menu_policy'|trans }}</a>
            </div>
            <div id="policy" class="card-body collapse" aria-expanded="false">
                {% include 'about/policy_content.html.twig' with {'link': false} %}
            </div>
        </div>
    </div>
</div>