<div class="row no-gutters">
    <div class="col">
        <div class="card mb-2">
            <div class="card-header card-collapse" id="licence-header">
                <a name="licence_link" data-toggle="collapse" href="#licence" class="card-link" aria-expanded="false" aria-controls="licence">{{ 'about.licence'|trans }}</a>
            </div>
            <div id="licence" class="card-body collapse" aria-expanded="false">
                {% include 'about/licence_content.html.twig' %}
            </div>
        </div>
    </div>
</div>