<div class="card">
    <div class="card-header card-collapse" id="licence-header">
        <a name="licence_link" role="button" data-toggle="collapse" href="#licence" class="card-link" aria-expanded="false" aria-controls="licence">{{ 'about.licence'|trans }}</a>
    </div>
    <div id="licence" class="card-body collapse"  aria-labelledby="licence-header" aria-expanded="false" data-parent="#accordionAbout">
        {% include 'about/licence_content.html.twig' %}
    </div>
</div>
