<div class="card">
    <div class="card-header card-collapse" id="symfony-header">
        <a data-toggle="collapse" role="button" href="#symfony" class="card-link" aria-expanded="false" aria-controls="symfony">{{ 'about.symfony'|trans }}</a>
    </div>
    <div id="symfony" class="card-body collapse" aria-labelledby="symfony-header" aria-expanded="false" data-parent="#accordionAbout" data-url="{{ path('ajax_symfony') }}">
        <div class="alert mb-0">
            <span class="spinner-border spinner-border-sm text-secondary" role="status" aria-hidden="true"></span>
            <span>{{ 'about.loading'|trans }}</span>
        </div>
    </div>      
</div>
