<div class="card">
   <div class="card-header card-collapse" id="policy-header">
        <a data-toggle="collapse" role="button" href="#policy" class="card-link" aria-expanded="false" aria-controls="policy">{{ 'index.menu_policy'|trans }}</a>
    </div>
    <div id="policy" class="card-body collapse" aria-labelledby="policy-header" aria-expanded="false" data-parent="#accordionAbout">
        {% include 'about/policy_content.html.twig' with {'link': false} %}
    </div>
</div>
