<p class="text-justify"><strong>{{ app_owner }}</strong> (désigné ci-après par "Fournisseur") détient l'ensemble des droits afférents au site 
web <strong>{{ app_home_url }}</strong> (ci-après désigné par le terme "Application").</p>
<p> 
Sauf définition contraire, les termes utilisés  dans le présent accord de licence ont la même signification que dans 
notre {% if link %}<a href="{{ path('about_policy') }}">Politique de confidentialité</a>{% else %}politique de confidentialité{% endif %}.
</p>
<p class="text-justify">L'utilisation de l'application entraîne l'établissement d'un contrat de licence de logiciel entre vous-même (désigné ci-après par 
preneur de licence) et le fournisseur. Ce faisant, vous approuvez les conditions générales explicitées ci-après.
</p>
<ol>
    <li class="font-weight-bold">
        <p class="font-weight-bold mb-0">Objet du contrat</p>
        <p class="font-weight-normal text-justify">Ce contrat a pour but de régler les compétences d'utilisation (licence) de l'application 
        dans le cadre de la conclusion d'un abonnement en toutes ses formes. Les contenus du contrat acceptés au moment de la conclusion de 
        l'abonnement (description de la prestation, conditions générales et dispositions-cadre de la communication électronique des données) 
        sont partie intégrante de la relation contractuelle. Dans le cas d'utilisations contraires ou divergentes de l'application, les conditions 
        de ce contrat de licence priment  sur les autres éléments contractuels.</p>
    </li>
    <li class="font-weight-bold">
    	<p class="font-weight-bold mb-0">Droits de biens immatériels</p>
        <p class="font-weight-normal text-justify">Le fournisseur détient l'ensemble des droits d'auteur et tous les autres biens immatériels liés 
        à l'application. Il n'y a pas de vente de l'application au preneur de licence et aucun droit d'auteur ne lui est cédé.</p>
    </li>
    <li class="font-weight-bold">
    	<p class="font-weight-bold mb-0">Définition de la licence</p>
        <p class="font-weight-normal text-justify">Pendant la durée de l'abonnement, le preneur de licence et les utilisateurs autorisés ont le 
        droit non-exclusif et non-transmissible à des tiers d'utiliser l'abonnement, l'application, ses mises à jour et son mode d'emploi. Le preneur 
        de licence et les utilisateurs autorisés peuvent charger autant de fois qu'ils le désirent les éléments de l'application. Aucun droit 
        d'utilisation supplémentaire n'est accordé au preneur de contrat et aux utilisateurs autorisés. Ils n'ont en particulier pas le droit de 
        modifier cette application, de la corriger, de la développer, de la traduire, de la déchiffrer ou de la décompiler ni de la vendre, la louer, 
        la prêter, la transmettre et ni, surtout, de permettre à des tiers de l'utiliser.</p>
    </li>

    <li class="font-weight-bold">
        <p class="font-weight-bold mb-0">Mises à jour, développements, assistance technique</p>
        <p class="font-weight-normal text-justify">Le preneur de licence et les utilisateurs autorisés ont le devoir d'installer des mises à jour et 
        de nouvelles versions de l'application en temps opportun. La maintenance d'anciennes versions n'est assurée que trois mois au maximum après 
        le lancement de la version la plus récente. Pour les questions d'assistance technique, le fournisseur propose une centrale d'appels ainsi 
        qu'une aide en ligne selon la description des prestations de l'abonnement.</p>
    </li>
    
    <li class="font-weight-bold">
        <p class="font-weight-bold mb-0">Garantie, responsabilité</p>
        <p class="font-weight-normal text-justify">Le fournisseur fait remarquer qu'en fonction de l'état de la technique, il n'est pas possible 
        de concevoir des applications disponibles en permanence dans toutes les applications et combinaisons possibles et d'une fiabilité absolue. 
        Le fournisseur garantit au preneur de contrat que l'application fonctionne au moment de son installation selon le mode d'utilisation publié 
        sur son site Internet. La compatibilité avec des systèmes d'exploitation autres que ceux mentionnées sur le site du fournisseur n'est pas 
        garantie. Au cas où l'application serait défectueuse, le preneur de contrat doit signaler les défauts constatés auprès du fournisseur. Le 
        fournisseur doit tenir compte des défauts constatés lors des mises à jour et développements ultérieurs de ses applications ou les corriger 
        immédiatement au cas aucune autre solution ne serait possible. Le preneur de licence ne peut faire valoir aucune autre prétention. Le preneur 
        de licence a en permanence le droit de désinstaller l'application et de recourir aux prestations de la plate-forme du fournisseur dans le cadre 
        de la description des prestations sans utiliser l'application. Les conditions de responsabilité dans le catalogue des prestations de l'abonnement, 
        dans les conditions générales et dans les dispositions-cadre relatives à la communication électronique des données s'appliquent par ailleurs.</p>
    </li>
    
    <li class="font-weight-bold">
        <p class="font-weight-bold mb-0">Perte du droit d'utilisation</p>
        <p class="font-weight-normal text-justify">En cas de violation de l'une ou de plusieurs dispositions de ce contrat, le preneur de licence et 
        les utilisateurs autorisés perdent le droit d'utiliser l'application. Le fournisseur peut refuser toute nouvelle installation de l'application.</p>
    </li>
    
    <li class="font-weight-bold">
        <p class="font-weight-bold mb-0">Résiliation</p>
        <p class="font-weight-normal text-justify">Le preneur de licence et le fournisseur peuvent en tout temps résilier ce contrat avec un délai 
        de résiliation d'un mois pour la fin d'un mois civil. L'abonnement n'est pas concerné par une telle résiliation. La résiliation de l'abonnement 
        est exclusivement régie par les prescriptions en la matière contenues dans le descriptif des prestations de l'abonnement.</p>
    </li>
    
    <li class="font-weight-bold">
        <p class="font-weight-bold mb-0">For et droit applicable</p>
        <p class="font-weight-normal text-justify">Le droit matériel suisse est applicable sur la présente relation contractuelle. Le siège du 
        fournisseur est le for pour tout conflit juridique en lien avec ce contrat. Le fournisseur est autorisé à interpeller le tribunal au 
        domicile du preneur de licence ou à son siège.</p>
    </li>
</ol>
<p class="mb-0 text-right">Janvier 2019</p>
