{% import 'about/_about_macro.html.twig' as tools %}
<div class="phpversion">
    {{ tools.headerLink('php.net', version, 'php') }}
    {{ phpInfo|raw }}
    <table id="data-table-extra" class="table table-sm table-hover mb-0">
        <tbody>
            {{ tools.headerInfo('Configuration') }}
            {{ tools.rowInfo('Loaded Extensions', extensions) }}
        </tbody>
    </table>
</div>
