###> symfony/framework-bundle ###
/.env.local
/.env.*.local
symfony.lock
/var/
/vendor/
/vendor-bin/**/vendor/
###< symfony/framework-bundle ###

###> resources and vendor ###
/public/images/users/*
/public/vendor/
/resources/fontawesome/
###< public ###

###> tests ###
/tests/Data/db_test.sqlite
###< phpunit ###

###> databases ###
/resources/data/swiss.sqlite
/resources/data/openweather.sqlite
###< application ###

###> deploy ###
/env.ini
/deploy.ini
/deployment.phar
/deploy/
###< deploy ###
