###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/.php_cs.cache
/deploy/
symfony.lock
/public/images/users/
/public/js/vendor
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> application ###
/resources/data/swiss.sqlite
###< application ###
