###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.php-cs-fixer.cache
symfony.lock
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit ###
.phpunit
.phpunit.result.cache
/phpunit.xml
/tests/Data/db_test.sqlite
###< phpunit ###

###> application ###
/public/images/users/
/public/js/vendor
/resources/data/swiss.sqlite
/resources/data/openweather.sqlite
###< application ###

###> phpstorm ###
/.idea
###< phpstorm ###

###> deploy ###
/env.ini
/deploy.ini
/deployment.phar
/deploy/
###< deploy ###
