includes:
    - vendor-bin/phpstan/vendor/slam/phpstan-extensions/conf/symfony-rules.neon
    - vendor-bin/phpstan/vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 7
    paths:
    - src
    - tests

    doctrine:
        repositoryClass: App\Repository\AbstractRepository

    # Level 6
    checkMissingIterableValueType: false

    # PHP 7.4
    checkUninitializedProperties: true

    scanFiles:
    - vendor/twig/twig/src/Extension/CoreExtension.php

    ignoreErrors:
    # disallowed-execution-calls
    - '#proc_open#'                             # Command\CompileAssetsCommand.php

    # slam/phpstan-extensions
    - '#function has no typehint#'
    - '#proc_close#'                            # Command\CompileAssetsCommand.php
    - '#file_put_contents#'

    - '#array\|bool\|float\|int\|string\|null#' # ParameterBagInterface
