includes:
    - vendor-bin/phpstan/vendor/slam/phpstan-extensions/conf/symfony-rules.neon
    - vendor-bin/phpstan/vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 7
    paths:
    - src
    - tests

    scanFiles:
    - vendor/twig/twig/src/Extension/CoreExtension.php
    - vendor/symfony/validator/Test/ConstraintValidatorTestCase.php

    doctrine:
        repositoryClass: App\Repository\AbstractRepository

    # Level 6
    checkMissingIterableValueType: false

    ignoreErrors:
        - '#Utils::getRequestInputBag#'
        - '#should return int<0, max>#'
        - '#return type has no value type#'
        - '#no value type specified#'
        - '#repositoryClass of attribute#'
        -
            message: '#type mapping mismatch#'
            path: src/Entity/*
