includes:
    - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon    
parameters:
    level: 5
    paths:
    - src
    doctrine:
        repositoryClass: App\Repository\AbstractRepository
    scanFiles:
    - vendor/twig/twig/src/Extension/CoreExtension.php
    ignoreErrors:
    - '#PdfTableBuilder::addDescription#' # Report\CalculationGroupTable
    - '#catchPhrase#'                     # Faker\Generator 
