{% apply inline_css %}
<style>
    body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 14px; 
    }
</style>
<p><b>Bonjour {{ username }}</b></p>
<p>
    Veuillez confirmer votre adresse électronique en cliquant sur le lien suivant : <a href="{{ signedUrl|raw }}">Confirmer mon email</a>.
</p>
<p>
    <b>Remarque :</b> Ce lien expirera dans {{ 'counters.email_hours'|trans({'count': expiresAt|date('g')}) }}.
<p/>
<p>
    Cordialement,<br>
    L'équipe de {{ app_name }}
</p>
{% endapply %}
