<div class="toggle-icon collapse{% if expanded %} show{% endif %}" id="default" data-parent="#parent_accordion">
    <div class="mt-1">
        <small class="mb-2 form-text text-muted">{{ 'parameters.group_default_help'|trans }}</small>
        <div class="form-row">
            <div class="col-md-4">
                {{ form_row(form.default_state) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.default_category) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.minimum_margin) }}
            </div>
        </div>
    </div>
</div>
