<p class="mb-2 form-text text-body-secondary">{{ 'parameters.group_default_help'|trans }}</p>
<div class="row">
    <div class="col-md-4">
        {{ form_row(form.default_state) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.default_category) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.minimum_margin) }}
    </div>
</div>
