<div class="toggle-icon collapse{% if expanded %} show{% endif %}" id="security" data-parent="#parent_accordion">
    <div class="mt-2">
        <small class="mb-2 form-text text-muted">{{ 'parameters.group_security_help'|trans }}</small>
        <div class="form-row">
            <div class="col-md-6">
                {{ form_row(form.display_captcha) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.minstrength) }}
            </div>
        </div>
        {{ form_rest(form) }}
    </div>
</div>
