<p class="mb-2 form-text text-muted">{{ 'parameters.group_product_help'|trans }}</p>
<div class="row">
    <div class="col-md-8">
        {{ form_row(form.default_product) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.default_product_quantity) }}
    </div>
</div>
{{ form_row(form.default_product_edit) }}
