<div class="mb-3">
    <span class="form-label">{{ 'command.list.fields.command'|trans }}</span>
    <div class="form-control-plaintext form-control-readonly">
        <span>{{ command.name }}</span>
    </div>
    {% if command.description %}
        <div class="form-text mb-0 help-text">{{ command.description|raw }}</div>
    {% endif %}
</div>
