@import 'style.css';

:root {
    --spy-content-height: 305px;
}

.about table {
    margin-bottom: 0;
}

.about td {
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.about td.h {
    font-size: initial;
}

.about tr.h th,
.about td.e {
    width: 30%;
}

/* one value */
.about td.v:nth-child(2):nth-last-child(1) {
    width: 70%;
}

/* two values */
.about td.v:nth-child(2):nth-last-child(2),
.about td.v:nth-child(3):nth-last-child(1),
.about td.d:nth-child(2):nth-last-child(2),
.about td.d:nth-child(3):nth-last-child(1) {
    width: 35%;
}

.about td.f {
    width: 10%;
}

.about td > p {
    margin-bottom: 5px;
}

.about h1,
.about h2,
.about .h1,
.about .h2 {
    font-weight: bold;
    margin-bottom: 0;
}

.about h1,
.about .h1 {
    font-size: 1.25rem;
}

.about h2,
.about .h2 {
    font-size: 1.15rem;
}

.about h2 p {
    margin-top: 5px;
    margin-bottom: 0;
}

.about tbody .h th {
    font-weight: normal;
}

.about tbody .h th.v {
    width: 70%;
}

@media print {
    a {
        font: inherit;
        color: inherit;
        text-decoration: none;
    }
    .php-spy-content {
        height: auto;
        overflow-y: revert !important;
    }
}

.about td.v.disabled {
    color: var(--bs-secondary);
}

.about td.v.enabled::before,
.about td.v.disabled::before {
    font-weight: bold;
    margin-right: 0.25rem;
}

.about td.v.enabled::before {
    content: '✓';
    color: var(--bs-success);
}

.about td.v.disabled::before {
    content: '✗';
}

svg.about-icon {
    width: 4em;
    height: 4em;
    fill: currentcolor;
}

#php-list-spy td:has(a.active) {
    background-color: var(--bs-secondary-bg);
}

.php-spy-content {
    height: calc(100vh - var(--spy-content-height));
    overflow-y: auto;
}

body:not(.statusbar-show) .php-spy-content {
    height: calc(100vh - var(--spy-content-height) + var(--statusbar-height));
}

body:not(.sidebar-show) .php-spy-content {
    height: calc(100vh - var(--spy-content-height) - var(--horizontal-navigation-height));
}

body:not(.statusbar-show, .sidebar-show) .php-spy-content {
    height: calc(100vh - var(--spy-content-height) + var(--statusbar-height) - var(--horizontal-navigation-height));
}
