/**! compression tag for ftp-deployment */

.bstreeview {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    padding: 0;
    overflow: hidden;
}

.bstreeview .list-group {
    margin-bottom: 0;
}

.bstreeview .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
}

.bstreeview>.list-group-item:first-child {
    border-top-width: 0;
}

.bstreeview .list-group-item + .list-group-item.active {
    margin-top: 1px;
    border-top-width: 0;
}

.bstreeview .state-icon {
    margin-right: 8px;
    width: 12px;
    text-align: center;
}

.bstreeview .item-icon {
    margin-right: 5px;
}

.bstreeview .item-badge {
    float: right !important;
    margin-top: 0.25rem;
}
