@import 'style.css';
@import '../js/vendor/jquery-contextmenu/jquery.contextMenu.css';

/**! compression tag for ftp-deployment */

@media (min-width: 1200px) {
    .col-xl-4 {
        -ms-flex: initial;
        flex: initial;
        max-width: initial;
        width: 100%;
    }

    .col-xl-8 {
        -ms-flex: initial;
        flex: initial;
        max-width: initial;
        width: 100%;
    }
}

@media (min-width: 1400px) {
    .col-xl-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-xl-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}

/*
 * reset header group colors when selected
 */
thead.group tr.table-success th.bg-body-tertiary,
thead.group tr.table-primary th.bg-body-tertiary {
    color: var(--bs-table-color) !important;
    border-width: 0 !important;
    border-color: var(--bs-table-border-color) !important;
    background-color: var(--bs-table-border-color) !important;
}

/*
 * Height for input and center vertically
 */
#data-table-edit tr.item {
    height: 40px;
    vertical-align: middle !important;
}

/*
 * no line for the last item
 */
#data-table-edit tbody:last-child tr.item:last-child td {
    border-bottom-width: 0 !important;
}

/*
 * card view
 */
.row-item.table-primary {
    background-color: var(--bs-table-bg);
}

.row-item.table-primary .fw-bold a,
.row-item.table-primary.text-body-secondary,
.row-item.table-primary.text-body-secondary .fw-bold a {
    color: var(--bs-table-color) !important;
}

.row-item.text-body-secondary .fw-bold a {
    color: var(--bs-secondary-color) !important;
}
