/**! compression tag for ftp-deployment */

.calendar .badge,
.month .badge {
    top: -10px;
    right: -5px;
    position: relative;
}

.calendar a:hover,
.month a:hover  {
    text-decoration: none !important;
}

.month td {
    width: 120px;
    height: 120px;
}

.week {
    width: 35px;
}

.week-head {
    border-left-style: solid !important;
    border-left-width: 0.3rem !important;
    border-left-color: var(--secondary) !important;
}

.table-popover tr:first-child td,
.table-popover tr:first-child th {
    border-top-style: hidden;
}

body.dark .bg-themed.text-themed {
    color: #d3d3d3 !important;
    background-color: rgba(52,58,64,0.3) !important;
}
