@import 'style.css';

/**! compression tag for ftp-deployment */

/**
 * full height
 */
html, body, main, .container, .row {
    height: 100%;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

html[data-bs-theme=light] body {
    background-color: var(--bs-secondary);
}

.page-content {
    height: 100%;
}

::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}
