@import 'style.css';

/* full height */
html, body, main, .container, .row, .page-content {
    height: 100%;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

@media (width >= 768px) {
    .page-content {
        margin-top: 10rem;
    }
}

::-webkit-scrollbar {
    width: 0;
    visibility: hidden;
    -webkit-appearance: none;
    background-color: transparent;
}
