@import 'style.css';

/**! compression tag for ftp-deployment */

/**
 * full height
 */
html, body, main, .container, .row {
    height: 100%;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

body {
    background: var(--secondary);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
