@import 'style.css';

/**! compression tag for ftp-deployment */

div.chart {
    min-width: 400px;
    min-height: 500px;
    margin: 0 auto;
}

body div.chart .highcharts-axis-labels text,
body div.chart .highcharts-legend-item text {
    fill: var(--bs-body-color) !important;
}
