/**! compression tag for ftp-deployment */

.color-picker .btn-color {
    height: 1.5rem;
    width: 1.5rem;
    margin: 2px;
    border-radius: 0;
}

.color-picker .btn-color:focus {
    outline: solid var(--bs-link-color) 2px;
    /*
    outline: solid #86b7fe 2px;
    --bs-accordion-btn-focus-border-color
    */
}

.color-picker .btn-color:hover {
    /* --bs-link-hover-color
    outline: solid var(--bs-primary) 2px;
    */
    outline: solid var(--bs-link-hover-color) 2px;
}

.color-picker .dropdown-color {
    height: 1rem;
    width: 1.5rem;
    margin-right: 0.25rem;
}

.color-picker .dropdown-text {
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    flex: 1 1 auto;
}
