/**! compression tag for ftp-deployment */

.color-picker .dropdown-menu {
    padding-top: 0.25rem;
}

.color-picker .color-palette {
    display: table;
    white-space: nowrap;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.color-picker .btn-color {
    width: 20px;
    height: 20px;
    margin: 2px;
    border-radius: 0;
}

.color-picker .btn-color:hover {
    outline: solid var(--primary);
}

.color-picker.dropdown.form-control {
    height: auto;
    padding: 0;
}

.color-picker.dropdown.form-control .dropdown-toggle {
    width: 100%;
    display: flex;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
    text-align: left;
    color: inherit;
}

.color-picker.dropdown.form-control .dropdown-toggle::after {
    margin-top: 0.5rem;
}

.color-picker .drowpdown-color {
    height: 1rem;
    width: 1.5rem;
    display: inline-block;
    margin-right: 0.25rem;
    align-self: center;
}

.color-picker .drowpdown-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1 1 auto;
}
