.context-menu-list {
    display: none;
    list-style: none;
    position: absolute;
    padding: 0.5rem 0 !important;
    background-color: inherit;
    z-index: var(--bs-dropdown-zindex);
    min-width: var(--bs-dropdown-min-width);
    border: var(--bs-border-width) solid var(--bs-border-color-translucent) !important;
}

.context-menu-item {
    width: 100%;
    display: block;
    padding: 0.25rem 1rem !important;
    color: var(--bs-dropdown-link-color);
}

.context-menu-item.context-menu-disabled {
    cursor: default;
    pointer-events: none;
    background-color: transparent;
    color: var(--bs-tertiary-color);
}

.context-menu-item.context-menu-hover {
    cursor: pointer;
    color: var(--bs-body-color) !important;
    background-color: var(--bs-tertiary-bg) !important;
}

.context-menu-separator {
    height: 0;
    opacity: 1;
    overflow: hidden;
    margin-top: 0.15rem;
    margin-bottom: 0.4rem;
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    border-bottom: 1px solid var(--bs-border-color-translucent) !important;
}

.context-menu-item .dropdown-header {
    color: var(--bs-dropdown-header-color);
}
