/**! compression tag for ftp-deployment */

.context-menu-list {
    background-color: inherit !important;
    -webkit-box-shadow: inherit !important;
    -moz-box-shadow: inherit !important;
    -o-box-shadow: inherit !important;
    box-shadow: inherit !important;
    border: var(--bs-border-width) solid var(--bs-border-color-translucent) !important;
    padding: 0.5rem 0 !important;
}

.context-menu-item {
    color: var(--bs-dropdown-link-color) !important;
    background-color: transparent !important;
    padding: 0.25rem 1rem !important;
}

.context-menu-item.context-menu-disabled {
    color: var(--bs-tertiary-color);
    pointer-events: none;
    background-color: transparent;
}

.context-menu-item.context-menu-hover {
    color: var(--bs-body-color) !important;
    background-color: var(--bs-tertiary-bg) !important;
}

.context-menu-separator {
    margin-top: 0.15em !important;
    border-bottom: 1px solid var(--bs-border-color-translucent) !important;
}

.context-menu-item .dropdown-header {
    color: #6c757d !important;
}

.context-menu-icon.context-menu-icon--fa5 i,
.context-menu-icon.context-menu-icon--fa5 svg {
    position: inherit !important;
    color: inherit !important;
    left: inherit !important;
    top: inherit !important;
    margin-right: 0.3rem;
}
