@import 'style.css';

.diagram {
    display: none;
}

.diagram:has(svg) {
    display: block;
}

body.statusbar-show .diagram {
    height: calc(100vh - 120px);
}

body:not(.statusbar-show) .diagram {
    height: calc(100vh - 90px);
}

body:not(.sidebar-show) .diagram {
    height: calc(100vh - 180px);
}

.range-zoom {
    min-width: 14rem;
}

.btn-zoom {
    min-width: 4.5rem;
}

.diagram svg {
    font-size: var(--bs-body-font-size) !important;
    font-weight: var(--bs-body-font-weight) !important;
    font-family: var(--bs-body-font-family) !important;
    cursor: grab;

    .clickable {
        cursor: pointer !important;
    }

    .error-icon {
        fill: var(--bs-danger) !important;
    }

    .error-text {
        fill: var(--bs-danger) !important;
        stroke: var(--bs-danger) !important;
    }

    .classDiagramTitleText { /* stylelint-disable selector-class-pattern -- kebab-case */
        display: none !important;
    }
}

div.mermaidTooltip {
    display: block !important;
    padding: 0.25rem 0.5rem !important;
    font-style: normal !important;
    font-weight: var(--bs-body-font-weight) !important;
    font-family: var(--bs-body-font-family) !important;
    line-height: var(--bs-body-line-height) !important;
    color: var(--bs-body-bg) !important;
    background: var(--bs-emphasis-color) !important;
    border: var(--bs-border-width) solid var(--bs-border-color) !important;
    border-radius: 0 !important;
}
