@import 'style.css';

.diagram {
    display: none;
}

.diagram:has(svg) {
    display: block;
}

body.status-bar .diagram {
    height: calc(100vh - 120px);
}

body:not(.status-bar) .diagram {
    height: calc(100vh - 90px);
}

body:not(.sidebar-show) .diagram {
    height: calc(100vh - 180px);
}

.diagram svg {
    font-size: var(--bs-body-font-size) !important;
    font-weight: var(--bs-body-font-weight) !important;
    font-family: var(--bs-body-font-family) !important;
    cursor: grab;
}

.diagram svg .clickable {
    cursor: initial;
}

.diagram svg .error-icon {
    fill: var(--bs-danger) !important;
}

.diagram svg .error-text {
    fill: var(--bs-danger) !important;
    stroke: var(--bs-danger) !important;
}
