@import 'style.css';

/**! compression tag for ftp-deployment */

.diagram {
    display: none;
}

.diagram:has(svg) {
    display: block;
}

.diagram svg {
    font-family: var(--bs-body-font-family) !important;
}

.diagram svg .error-icon {
    fill: var(--bs-danger) !important;
}
.diagram svg .error-text {
    fill: var(--bs-danger) !important;
    stroke: var(--bs-danger) !important;
}
