body {
    background: #fff;
}

.wrapper.secondary {
    background: #fff;
}

table.body.wrapper {
    background: #fff;
}

table.body_default.container {
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
}
