body {
    background-color: white;
}

table.container {
    width: 720px;
}

.wrapper.secondary {
    color: darkgray;
    background-color: white;
}

table.body.wrapper {
    background-color: white;
}

/* stylelint-disable selector-class-pattern */
.container.body_alert,
.container.body_warning,
.container.body_default {
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
}

/* stylelint-enable selector-class-pattern */
td,
a {
    line-height: 100%;
}

#csp td {
    padding-top: 5px;
}

small,
.small {
    color: slategray;
}

a,
button {
    font-weight: normal !important;
    padding: 0.5rem 1rem !important;
}
