@import 'style.css';

/**! compression tag for ftp-deployment */

.btn-file {
    position: relative;
    overflow: hidden;
    vertical-align: middle;
}

.btn-file>input {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 23px;
    cursor: pointer;
    filter: alpha(opacity = 0);
    opacity: 0;
    direction: ltr;
}

.btn-file>input::-webkit-file-upload-button {
    cursor: pointer;
}

.file-input {
    display: inline-block;
    max-width: 100vw;
}

.file-input .form-control {
    display: inline-block;
    padding-top: 7px;
    padding-bottom: 5px;
    margin-bottom: 0;
    vertical-align: middle;
    cursor: pointer;
    border: 0;
}
.file-input .img-thumbnail {
    display: inline-block;
    margin-bottom: 5px;
    overflow: hidden;
    text-align: center;
    width: 200px;
    height: 180px;
    line-height: 166px;
}

.file-input .img-thumbnail > img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    line-height: 1.5;
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
}

.file-input .btn {
    vertical-align: middle;
}

.file-input .form-group {
    overflow: hidden;
}

.file-input .form-group .file-input-filename {
    width: 90%;
    width: calc(100% - 20px);
}

.file-input-exists .file-input-new,
.file-input-new .file-input-exists {
    display: none;
}

.file-input-exists.close {
    float: none;
}

.file-input-inline .file-input-controls {
    display: inline;
}

.file-input-filename {
    display: inline-block;
    max-width: 65%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

.form-control .file-input-filename {
    position: absolute;
    left: 0;
    width: 100%;
    max-width: 100%;
    padding-left: 10px;
    white-space: nowrap;
    vertical-align: bottom;
}

.form-control .file-input-filename.with-icon {
    padding-left: 30px;
}

.file-input.input-group {
    display: flex;
}

.file-input.input-group>* {
    position: relative;
    z-index: 2;
}

.file-input.input-group>.btn-file {
    z-index: 1;
}

.file-input .input-group-append span {
    border-top: inherit;
    border-bottom: inherit;
}
.file-input .input-group-append .input-group-text.file-input-exists  {
    border-right: inherit;
}

.file-input .input-group-append .input-group-text:hover {
    cursor: pointer;
}

.file-input .file-input-preview {
    cursor: pointer;
    background-color: transparent;
}

.form-group.has-warning .file-input .file-input-preview {
    color: var(--warning);
}

.form-group.has-warning .file-input .img-thumbnail {
    border-color: var(--warning);
}

.form-group.has-error .file-input .file-input-preview {
    color: var(--danger);
}

.form-group.has-error .file-input .img-thumbnail {
    border-color: var(--danger);
}

.form-group.has-success .file-input .file-input-preview {
    color: var(--success);
}

.form-group.has-success .file-input .img-thumbnail {
    border-color: var(--success);
}

.input-group-addon:not(:first-child ) {
    border-left: 0;
}
