/**! compression tag for ftp-deployment */

.footer {
    z-index: 4;
}
ul.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 3px;
    margin-bottom: 0;
    position: fixed;
    padding: 3px;
    display: table;
    overflow: hidden;
    font-size: 0.8rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--white);
    background-color: var(--gray);
}

ul.footer a {
  color: var(--white);
}

ul.footer li {
    padding: 0 8px;
    display: table-cell;
    border-left: solid 1px var(--white);
}

ul.footer li:first-child {
    width: 100%;
    padding-left: 1px;
    border-left: none;
}

ul.footer li:nth-child(2) {
    border-left: none;
}

ul.footer .li:last-child {
    padding-right: 1px;
}
