/**! compression tag for ftp-deployment */

/**
 * form-check-input checked
 */
.form-check.form-primary .form-check-input:checked {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.form-check.form-secondary .form-check-input:checked {
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
}

.form-check.form-success .form-check-input:checked {
    background-color: var(--bs-success);
    border-color: var(--bs-success);
}

.form-check.form-info .form-check-input:checked {
    background-color: var(--bs-info);
    border-color: var(--bs-info);
}

.form-check.form-warning .form-check-input:checked {
    background-color: var(--bs-warning);
    border-color: var(--bs-warning);
}

.form-check.form-danger .form-check-input:checked {
    background-color: var(--bs-danger);
    border-color: var(--bs-danger);
}

.form-check.form-dark .form-check-input:checked {
    background-color: var(--bs-dark);
    border-color: var(--bs-dark);
}

/**
 * special case for dark theme and dark color
 */
html[data-bs-theme=dark] .form-check.form-dark .form-check-input:checked {
    border-color: var(--bs-border-color);
}
