/**! compression tag for ftp-deployment */

/**
 * Common for PHP light and dark mode.
 */
.pre-scrollable.pre-scrollable-highlight-php {
    max-height: 400px;
    padding: 0.5rem;
}

pre.highlight-php {
    line-height: 1.2em;
    font-size: 13px;
    word-wrap: break-word;
    white-space: pre-wrap;
    position: relative;
    word-break: break-all;
    margin: 0;
}

pre.highlight-php .highlight-php-num {
    font-weight: bold;
    color: #1299DA;
}

pre.highlight-php .highlight-php-const {
    font-weight: bold
}

pre.highlight-php .highlight-php-str {
    font-weight: bold;
}

pre.highlight-php .highlight-php-meta {
    color: #B729D9
}

pre.highlight-php .highlight-php-index {
    color: #1299DA
}

/*
 * PHP light (copied from HtmlDumper light mode).
 */
.pre-scrollable-highlight-php {
    background-color: initial;
}

pre.highlight-php {
    background: none;
    color: #CC7832;
}

pre.highlight-php .highlight-php-str {
    color: #629755;
}

pre.highlight-php .highlight-php-note {
    color: #6897BB
}

pre.highlight-php .highlight-php-ref {
    color: #6E6E6E
}

pre.highlight-php .highlight-php-public {
    color: #262626
}

pre.highlight-php .highlight-php-protected {
    color: #262626
}

pre.highlight-php .highlight-php-private {
    color: #262626
}

pre.highlight-php .highlight-php-key {
    color: #789339
}

pre.highlight-php .highlight-php-ellipsis {
    color: #CC7832
}

/*
 *  PHP Dark (copied from HtmlDumper dark mode).
 */
html[data-bs-theme=dark] .pre-scrollable-highlight-php {
    background-color: #18171B;
}

html[data-bs-theme=dark] pre.highlight-php {
    background-color: #18171B;
    color: #FF8400;
}

html[data-bs-theme=dark] pre.highlight-php .highlight-php-str {
    color: #56DB3A
}

html[data-bs-theme=dark] pre.highlight-php .highlight-php-note {
    color: #1299DA
}

html[data-bs-theme=dark] pre.highlight-php .highlight-php-ref {
    color: #A0A0A0
}

html[data-bs-theme=dark] pre.highlight-php .highlight-php-public {
    color: #FFFFFF
}

html[data-bs-theme=dark] pre.highlight-php .highlight-php-protected {
    color: #FFFFFF
}

html[data-bs-theme=dark] pre.highlight-php .highlight-php-private {
    color: #FFFFFF
}

html[data-bs-theme=dark] pre.highlight-php .highlight-php-key {
    color: #56DB3A
}

html[data-bs-theme=dark] pre.highlight-php .highlight-php-ellipsis {
    color: #FF8400
}

/**
 * SQL highlight light mode.
 */
pre.highlight-sql {
    line-height: 1.2em;
    font: 13px Menlo, Monaco, Consolas, monospace;
    word-wrap: break-word;
    white-space: pre-wrap;
    position: relative;
    word-break: break-all;
    margin-bottom: 0;
}

pre.highlight-sql .highlight-sql-keyword {
    color: blue;
    font-weight: bold;
}

pre.highlight-sql .highlight-sql-word {
    color: #222222;
}

pre.highlight-sql .highlight-sql-variable {
    color: #916319;
}

pre.highlight-sql .highlight-sql-symbol {
    color: #222222;
}

pre.highlight-sql .highlight-sql-comment {
    color: #999999;
}

pre.highlight-sql .highlight-sql-backtick {
    color: #718C00;
}

pre.highlight-sql .highlight-sql-string {
    color: #718C00;
}

pre.highlight-sql .highlight-sql-number {
    color: #F5871F;
    font-weight: bold;
}

pre.highlight-sql .highlight-sql-error {
    color: #C82829;
}

/**
 * SQL highlight dark mode.
 */
html[data-bs-theme=dark] pre.highlight-sql .highlight-sql-keyword {
    color: #1299DA;
}

html[data-bs-theme=dark] pre.highlight-sql .highlight-sql-word {
    color: #d3d3d3;
}

html[data-bs-theme=dark] pre.highlight-sql .highlight-sql-symbol {
    color: #FF8400;
}

html[data-bs-theme=dark] pre.highlight-sql .highlight-sql-string,
html[data-bs-theme=dark] pre.highlight-sql .highlight-sql-variable {
    color: #56DB3A;
}
