@import 'datatables.css';

/**! compression tag for ftp-deployment */

/* th.date,*/
td.date {
    width: 170px;
   /* padding-left: 0.5rem !important; */
}

th.channel,
td.channel {
    width: 100px;
    white-space: nowrap;
}

th.level,
td.level {
    width: 90px;
    white-space: nowrap;
}
/*
td.message {
    word-wrap: break-word;
}
*/
td.debug {
    box-shadow: inset 5px 0 var(--secondary);
}

td.info,
td.notice {
    box-shadow: inset 5px 0 var(--info);
}

td.warning {
    box-shadow: inset 5px 0 var(--warning);
}

td.error,
td.critical,
td.alert,
td.emergency {
    box-shadow: inset 5px 0 var(--danger);
}
