@import 'bootstrap-table.css';

/**! compression tag for ftp-deployment */

.date {
    border-left: 0.3rem solid transparent !important;
    width: 170px;
}

.channel {
    width: 100px;
    white-space: nowrap;
}

.level {
    width: 90px;
    white-space: nowrap;
}

.message {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width:5rem;
}

@media ( min-width : 576px) {
    .message {
        max-width:5rem;
    }
}
@media ( min-width : 768px) {
    .message {
        max-width:10rem;
    }
}

td.debug {
    border-left-color: var(--secondary) !important;
}

td.info,
td.notice {
    border-left-color: var(--info) !important;
}

td.warning {
    border-left-color: var(--warning) !important;
}

td.error,
td.critical,
td.alert,
td.emergency {
    border-left-color: var(--danger) !important;
}
