@import 'style.css';

/**! compression tag for ftp-deployment */

.ow-date {
    width: 100px;
    white-space: nowrap;
}

.ow-icon {
    width: 50px;
    text-align: center;
}

.ow-image {
    margin-top: -8px;
    vertical-align: top;
    width: 40px;
    height: 40px;
}

.ow-flag {
    margin-left: 0.25rem;
}
.ow-image-search {
    margin-top: -5px !important;
}

.ow-image-title {
    width: 50px;
    height: 50px;
}

.ow-temperature {
    width: 110px;
}

.ow-temperature-pills {
    font-size: 80%;
    border-radius: 50rem;
    padding: 0.2rem 0.5rem;
}

.ow-temperature-forecast {
    color: var(--white);
    background-color: var(--primary);
}

.ow-temperature-day {
    color: var(--white);
    background-color: var(--danger);
}

.ow-temperature-night {
    color: var(--white);
    background-color: var(--secondary);
}

.ow-table-responsive {
    /*
    max-height: 285px;
    overflow-y: auto;
    */
    margin: 0;
}
