@import 'style.css';
@import '../vendor/font-mfizz/font-mfizz.css';

/* stylelint-disable-next-line */
/**! compression tag for ftp-deployment */

.phpversion table {
    margin-bottom: 0;
}

.phpversion td {
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.phpversion td.h {
    font-size: initial;
}

.phpversion tr.h th,
.phpversion td.e {
    width: 33%;
}

.phpversion td.f {
    width: 10%;
}

.phpversion td > p {
    margin-bottom: 5px;
}

.phpversion h1,
.phpversion h2,
.phpversion .h1,
.phpversion .h2 {
    font-weight: bold;
    margin-bottom: 0;
}

.phpversion h1,
.phpversion .h1 {
    font-size: 1.25rem;
}

.phpversion h2,
.phpversion .h2 {
    font-size: 1.15rem;
}

.phpversion h2 p {
    margin-top: 5px;
    margin-bottom: 0;
}

.phpversion tbody .h th {
    font-weight: normal;
}

.phpversion tbody .h th.v {
    width: 70%;
}

@media print {
    a {
        font: inherit;
        color: inherit;
        text-decoration: none;
    }
}

.icon-about {
    font-size: 4rem;
    line-height: 1rem;
}

.phpversion td.v.disabled {
    color: var(--bs-secondary);
}

.phpversion td.enabled::before {
    content: '✓';
    font-weight: bold;
    margin-right: 0.25rem;
    color: var(--bs-success);
}

.phpversion td.v.disabled::before {
    content: '✗';
    font-weight: bold;
    margin-right: 0.25rem;
}
