/**! compression tag for ftp-deployment */

/*
 * ----------------------------------------------------
 * Popover with custom border and header colors
 * ----------------------------------------------------
 */

/**
 * popover for calendar and pivot
 */
.popover.popover-w-100 {
    max-width: 100%;
}

.popover.popover-table {
    --bs-popover-body-padding-x: 0.5rem;
    --bs-popover-body-padding-y: 0.5rem;
}

.popover-danger {
    --bs-popover-border-color: var(--bs-danger);
    --bs-popover-header-bg: var(--bs-danger);
    --bs-popover-header-color: var(--bs-white);
}

.popover-warning {
    --bs-popover-border-color: var(--bs-warning);
    --bs-popover-header-bg: var(--bs-warning);
    --bs-popover-header-color: var(--bs-dark);
}

.popover-success {
    --bs-popover-border-color: var(--bs-success);
    --bs-popover-header-bg: var(--bs-success);
    --bs-popover-header-color: var(--bs-white);
}

.popover-info {
    --bs-popover-border-color: var(--bs-info);
    --bs-popover-header-bg: var(--bs-info);
    --bs-popover-header-color: var(--bs-black);
}


.popover-primary {
    --bs-popover-border-color: var(--bs-primary);
    --bs-popover-header-bg: var(--bs-primary);
    --bs-popover-header-color: var(--bs-white);
}


.popover-secondary {
    --bs-popover-border-color: var(--bs-secondary);
    --bs-popover-header-bg: var(--bs-secondary);
    --bs-popover-header-color: var(--bs-white);
}

.popover-dark {
    --bs-popover-border-color: var(--bs-dark);
    --bs-popover-header-bg: var(--bs-dark);
    --bs-popover-header-color: var(--bs-white);
}

.popover-light {
    --bs-popover-border-color: var(--bs-light);
    --bs-popover-header-bg: var(--bs-light);
    --bs-popover-header-color: var(--bs-dark);
}

.popover-light-subtle {
    --bs-popover-border-color: var(--bs-light-bg-subtle);
    --bs-popover-header-bg: var(--bs-light-bg-subtle);
    --bs-popover-header-color: var(--bs-dark);
}
