/**! compression tag for ftp-deployment */

/**
 * highlight
 */
.pre-scrollable.pre-scrollable-highlight {
    background-color: #18171B;
    padding: 0.5rem;
}

pre.highlight {
    margin: 0;
    white-space: pre-wrap;
    background-color: #18171B;
}

pre.highlight-small {
    font-size: 12px;
}

pre.highlight .variable {
    color: #56DB3A;
}

pre.highlight .number {
    color: #1299DA;
}

pre.highlight .string {
    color: #56DB3A;
}

pre.highlight .other {
    color: #FF8400;
}
