@import 'style.css';
@import '../js/vendor/select2/css/select2.css';
@import '../js/vendor/select2/css/select2-bootstrap-5-theme.css';

/**! compression tag for ftp-deployment */

[data-bs-theme=dark] .select2-container--bootstrap-5 .select2-selection {
    background-color: var(--bs-body-bg) !important;
}

[data-bs-theme=dark] .select2-container--bootstrap-5 .select2-selection__rendered {
    color: var(--bs-body-color) !important;
}

[data-bs-theme=dark] .select2-container--bootstrap-5 .select2-dropdown,
[data-bs-theme=dark] .select2-container--bootstrap-5 .select2-search__field {
    color: var(--bs-body-color) !important;
    background-color: var(--bs-body-bg) !important;
}

[data-bs-theme=dark] .select2-container--bootstrap-5 .select2-selection__choice {
    color: var(--bs-body-color) !important;
    background-color: var(--bs-body-bg) !important;
}

.select2-container--bootstrap-5 .select2-search {
    padding: 0.25rem 0.25rem !important;
}

.select2-container--bootstrap-5 .select2-selection__choice {
    margin-bottom: 0 !important;
}

.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered {
    display: inline;
}

.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    display: inline-flex;

}

.select2-container--bootstrap-5 .select2-selection--multiple .select2-search {
    display: inline;
}

/*
[data-bs-theme=dark] .select2-container--bootstrap-5 .select2-results__option--highlighted {
    color: var(--bs-white) !important;
    background-color: var(--bs-primary) !important;
}
*/
