@import 'style.css';
@import '../js/vendor/select2/css/select2.css';
@import '../js/vendor/select2/css/select2-bootstrap4.css';

/**! compression tag for ftp-deployment */

.select2-search--dropdown {
    padding: 2px;
}

.select2-container--bootstrap4 .select2-results__option {
    color: initial;
    padding: 0 0.75rem;
}

.select2-search--dropdown .select2-search__field {
    margin-bottom: 1px;
}

.select2-container .select2-selection--single,
.select2-container .select2-selection--multiple,
.select2-results__option--selectable {
    cursor: inherit;
}
