@import 'style.css';
@import '../js/vendor/select2/css/select2.css';
@import '../js/vendor/select2/css/select2-bootstrap-5-theme.css';

/**! compression tag for ftp-deployment */

.select2-container--bootstrap-5 .select2-selection {
    background-color: var(--bs-body-bg) !important;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}

html[data-bs-theme=dark] .select2-container--bootstrap-5 .select2-selection__rendered {
    color: var(--bs-body-color) !important;
}

html[data-bs-theme=dark] .select2-container--bootstrap-5 .select2-dropdown,
html[data-bs-theme=dark] .select2-container--bootstrap-5 .select2-search__field {
    color: var(--bs-body-color) !important;
    background-color: var(--bs-body-bg) !important;
}

html[data-bs-theme=dark] .select2-container--bootstrap-5 .select2-selection__choice {
    color: var(--bs-body-color) !important;
    background-color: var(--bs-body-bg) !important;
}

.select2-container--bootstrap-5 .select2-search {
    padding: 0.25rem 0.25rem !important;
}

.select2-container--bootstrap-5 .select2-selection__choice {
    margin-bottom: 0 !important;
}

.select2-container--bootstrap-5 .select2-selection.select2-selection--single {
    padding-top: 5px !important;
    min-height: calc(1.5em + 0.7rem);
}

.select2-container--bootstrap-5 .select2-selection.select2-selection--multiple {
    padding-left: 0.375rem !important;
    padding-top: 1px !important;
    padding-bottom: 0 !important;
}

.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered {
    display: inline;
}

.select2-container--bootstrap-5 .select2-selection--multiple .select2-search .select2-search__field {
    margin-top: 5px;
}


.select2-container--bootstrap-5 .select2-selection__choice {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}

.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    display: inline-flex;
    padding-left: 6px;
    padding-right: 6px;
}

.select2-container--bootstrap-5 .select2-selection--multiple .select2-search {
    display: inline;
}

.select2-container--bootstrap-5.select2-container.select2-container--open {
    margin-top: -1px;
}

.select2-container--bootstrap-5.select2-container--open .select2-selection {
    box-shadow: inherit !important;
}

.input-group:has(.select2) {
    flex-wrap: nowrap !important;
}

html[data-bs-theme=dark] .select2-container--bootstrap-5 .select2-selection--single {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23dee2e6' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}
