/**! compression tag for ftp-deployment */

/* navigation bar */
.navbar-vertical {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-right: 8px;
    transition: margin-left 0.35s ease;
    overflow-y: auto;
    flex-direction: column !important;
    text-align: left !important;
    justify-content: initial;
    display: block;
    /*z-index: 1031;*/
}

.navbar-vertical.sidebar-hide {
    margin-left: -17rem;
}

/* content */
.page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: margin-left 0.35s ease;
}

.page-content.sidebar-hide {
    width: 100%;
    margin: 0;
}

/* toggle button */
.page-content .sidebar-toggle {
    display: block;
    transition: all 0.35s;
    margin-left: -10px !important;
}

.page-content.sidebar-hide .sidebar-toggle {
    transform: rotate(180deg);
    margin-left: inherit !important;
}

/* menus */
.navbar-vertical .navbar-nav {
    list-style: none;
    flex-direction: column !important;
    margin-bottom: 0;
}

.navbar-vertical .dropdown-header {
    text-align: left;
    font-weight: bold;
    padding-left: 0;
    padding-right: 0;
}

.navbar-vertical ul ul {
    padding-left: 1.5rem;
}

.navbar-vertical .nav-link-toggle::after {
    display: inline-block;
    content: "";
    float: right;
    margin-top: 0.5em;
    margin-left: 0.25em;
    transition: all 0.35s ease;
    /* left arrow */
    border-right: 0.3em solid;
    border-top: 0.3em solid transparent;
    border-bottom: 0.3em solid transparent;
    border-left: 0;
}

.navbar-vertical .nav-link-toggle[aria-expanded="true"]::after {
    /* down arrow */
    transform: rotate(-90deg);
}

@media print {
    .page-content {
        width: 100%;
        margin: 0;
    }
}

/* scrollbar */
.navbar-vertical::-webkit-scrollbar {
    width: 8px;
}
/* light mode */
.navbar-vertical::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.15);
}
/* dark mode */
body.dark .navbar-vertical::-webkit-scrollbar-track {
    background-color: #343a40;
}
body.dark .navbar-vertical::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .1);
}
body.dark .navbar-vertical::-webkit-scrollbar-thumb:hover {
    background-color: rgba(128, 135, 139, .8)
}
