/**! compression tag for ftp-deployment */

/* navigation bar */
.navbar-vertical {
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    min-width: 17rem;
    max-width: 17rem;
    padding: 1rem;
    transition: margin-left 0.35s ease;
    overflow-y: auto;
    flex-direction: column !important;
    text-align: left !important;
    justify-content: initial;
    display: block;
}

.navbar-vertical.sidebar-hide {
    margin-left: -17rem;
}

/* page-content */
.page-content {
    width: calc(100% - 17rem);
    margin-top: 20px;
    margin-left: 17rem;
}

.page-content.sidebar-hide {
    width: 100%;
    margin: 0;
}

/* menus */
.navbar-vertical .navbar-nav {
    list-style: none;
    flex-direction: column !important;
    margin-bottom: 0;
}

.navbar-vertical .dropdown-header {
    text-align: left;
    font-weight: bold;
    padding-left: 0;
    padding-right: 0;
}

.navbar-vertical.bg-dark .dropdown-divider {
    border-top: 1px solid var(--bs-border-color-translucent);
}

.navbar-vertical ul ul {
    padding-left: 1.5rem;
}

/*
 * Toggle menu arrow
 */
.navbar-vertical .nav-link-toggle::after {
    content: "";
    float: right;
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    transition: transform 0.2s ease-in-out;
    /* angle down (collapsed) */
    content: "\f107";
}

.navbar-vertical .nav-link-toggle[aria-expanded="true"]::after {
    /* angle up (expanded) */
    transform: rotate(-180deg);
}

@media print {
    .page-content {
        width: 100%;
        margin: 0;
    }
}

/* scrollbar */
.navbar-vertical::-webkit-scrollbar {
    width: 8px;
}

/* light mode */
.navbar-vertical::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

/* dark mode */
body[data-bs-theme=dark] .navbar-vertical::-webkit-scrollbar-track {
    background-color: #343a40;
}

body[data-bs-theme=dark] .navbar-vertical::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .1);
}

body[data-bs-theme=dark] .navbar-vertical::-webkit-scrollbar-thumb:hover {
    background-color: rgba(128, 135, 139, .8)
}
