/**! compression tag for ftp-deployment */

:root {
    --sidebar-width: 18rem;
    --sidebar-delay: 0.35s;
}

/* navigation bar */
.navbar-vertical {
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    min-width: var(--sidebar-width);
    max-width: var(--sidebar-width);
    padding: 0.5rem 1rem 0.75rem;
    transition: margin-left var(--sidebar-delay) ease-in-out;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column !important;
    text-align: left !important;
    justify-content: initial;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.navbar-vertical:not(.sidebar-show) {
    margin-left: calc(var(--sidebar-width) * -1);
}

/* menus */
.navbar-vertical .navbar-nav {
    list-style: none;
    flex-direction: column !important;
    margin-bottom: 0;
}

.navbar-vertical .dropdown-header {
    text-align: left;
    font-weight: bold;
    padding-left: 0;
    padding-right: 0;
}

.navbar-vertical .dropdown-divider {
    border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color-translucent) !important;
}

html[data-bs-theme=light] .navbar-vertical.navbar-dark .dropdown-divider,
html[data-bs-theme=light] .navbar-vertical.navbar-dark .border-top {
    border-top-color: var(--bs-gray-700) !important;
}

html[data-bs-theme=light] .navbar-vertical.navbar-dark .border-bottom {
    border-bottom-color: var(--bs-gray-700) !important;
}

.navbar-vertical ul ul {
    padding-left: 1.5rem;
}

.navbar-vertical .dropup .nav-link {
    color: var(--bs-navbar-color);
}

.navbar-vertical .dropup .nav-link:hover,
.navbar-vertical .dropup .nav-link:focus {
    color: var(--bs-navbar-hover-color);
}

.navbar-vertical .dropup .nav-link:focus-visible {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.navbar-vertical .dropup .nav-link.disabled {
    color: var(--bs-navbar-disabled-color);
    pointer-events: none;
    cursor: default;
}

/* toggle menu with drop-down arrow on the right */
.navbar-vertical .nav-link-toggle {
    text-align: left;
    width: 100%;
}

.navbar-vertical .nav-link-toggle::after {
    font-family: "Font Awesome 6 Free", sans-serif;
    font-weight: 900;
    float: right;
    margin-left: 6px;
    content: "\f104";
    transition: transform 0.15s ease-in-out;
}

.navbar-vertical .nav-link-toggle[aria-expanded="true"]::after {
    transform: rotate(-90deg);
}

/* scrollbar */
.navbar-vertical::-webkit-scrollbar {
    visibility: hidden;
    -webkit-appearance: none;
    width: 6px;
    height: 6px;
    background-color: transparent;
}

.navbar-vertical::-webkit-scrollbar-thumb {
    visibility: hidden;
    border-radius: 3px;
    background-color: var(--bs-secondary-bg-subtle);
}

html[data-bs-theme=dark] .navbar-vertical::-webkit-scrollbar-thumb {
    background-color: var(--bs-secondary-bg);
}

.navbar-vertical:hover::-webkit-scrollbar,
.navbar-vertical:hover::-webkit-scrollbar-thumb,
.navbar-vertical:focus::-webkit-scrollbar,
.navbar-vertical:focus::-webkit-scrollbar-thumb {
    visibility: visible;
}

/**
 * dropdown menu and item
 */
.navbar-vertical ul.dropdown-menu:not(.dropdown-menu-default) {
    background: transparent;
    padding-top: 0;
    display: block;
    border: 0;
}

.navbar-vertical ul:not(.dropdown-menu-default) .dropdown-item {
    color: var(--bs-navbar-color);
    white-space: normal;
    padding: 0.3rem;
    width: 100%;
}

.navbar-vertical ul:not(.dropdown-menu-default) .dropdown-item.active {
    color: var(--bs-emphasis-color);
}

.navbar-vertical .dropdown-menu:not(.dropdown-menu-default) .dropdown-item:hover,
.navbar-vertical .dropdown-menu:not(.dropdown-menu-default) .dropdown-item:focus {
    color: var(--bs-navbar-hover-color);
    background: none;
}

/**
 * Show / Hide buttons
 */
@media (max-width: 1200px) {
    .show-sidebar,
    .hide-sidebar {
        display: none;
    }
}
