@import 'style.css';

/**! compression tag for ftp-deployment */
.simple-editor {
    background-color: var(--white);
}

.simple-editor .simple-editor-toolbar {
    border-bottom: 0;
    overflow-x: auto;
    width: 100%;
}

@media (min-width : 768px) {
    .simple-editor .simple-editor-toolbar {
        width: auto;
    }
}

.simple-editor .simple-editor-toolbar::-webkit-scrollbar {
    height: 3px;
}

.simple-editor .simple-editor-toolbar::-webkit-scrollbar-thumb {
    background: var(--secondary);
}

.simple-editor .simple-editor-toolbar button {
    border-radius: 0;
    border: 0;
}

.simple-editor .simple-editor-toolbar button:first-child {
    border-bottom-left-radius: 0 !important;
}

.simple-editor .simple-editor-content {
    box-sizing: border-box;
    max-height: 500px;
    min-height: 150px;
    overflow-y: auto;
    resize: vertical;
    padding: 0.5rem;
    height: 250px;
    outline: 0;
}

.simple-editor .separator {
    width: 1px;
}
