@import 'style.css';

/**! compression tag for ftp-deployment */

/* ------------------------------------------------------------
	Reset Styles
------------------------------------------------------------ */
.sitemap ul,
.sitemap li,
.sitemap span {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

/* ------------------------------------------------------------
	Root Styles
------------------------------------------------------------ */
.sitemap,
.sitemap ul {
    /*font-family: "Proxima Nova", Helvetica, Arial, sans-serif;*/
    /*font-size: 16px;*/
    line-height: 1;
}

/* ------------------------------------------------------------
	Page Styles
------------------------------------------------------------ */

/* -------- Top Level --------- */

.primary-nav {
    clear: both;
    width: 100%;
    margin-top: 3em;
}

.primary-nav .home {
    position: absolute;
    margin-top: -3em;
    margin-bottom: 0;
    min-width: 11.5em;
    width: 100%;
}

.primary-nav .home:before {
    display: none;
}

.primary-nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    position: relative;
}

.primary-nav li {
    flex: 1;
    flex-basis: 11.5em;
    padding-right: 1.25em;
    position: relative;
}

.primary-nav li:last-child {
    padding-right: 0;
}

.primary-nav > ul > li {
    margin-top: 3em;
}

.primary-nav li a {
    margin: 0;
    padding: .875em .9375em .9375em .9375em;
    display: block;
    /*font-size: .9375em;*/
    color: white;
    background-color: #0090ff;
    border: 2px solid rgba(0, 0, 0, .025);
    text-decoration: none;
}

.primary-nav li a:hover {
    background-color: #0070f9;
}

.primary-nav li span {
    margin: 0;
    padding: .875em .9375em .9375em .9375em;
    display: block;
    /*font-size: .9375em;*/
    color: white;
    background-color: #0090ff;
    border: 2px solid rgba(0, 0, 0, .025);
    text-decoration: none;
}

/* -------- Second Level --------- */

.primary-nav ul ul {
    display: block;
}

.primary-nav ul ul li {
    padding-top: .6875em;
    padding-right: 0;
}

.primary-nav ul ul li a {
    background-color: #28bf5e;
}

.primary-nav ul ul li a:hover {
    background-color: #09a63e;
}

.primary-nav ul ul li:first-child {
    padding-top: 2em;
}

/* -------- Third Level --------- */

.primary-nav ul ul ul {
    margin-top: .6em;
    padding-top: .6em;
    /*padding-bottom: .625em;*/
}

.primary-nav ul ul ul li {
    padding-top: .3125em;
    padding-bottom: .3125em;
}

.primary-nav ul ul ul li a {
    background-color: #ff9d00;
    /*font-size: .9em;*/
    padding: .75em;
    width: 90%;
    margin-right: 0;
    margin-left: auto;
}

.primary-nav ul ul ul li a:hover {
    background-color: #ff831b;
}

.primary-nav ul ul ul li:first-child {
    padding-top: 1em;
}

.primary-nav ul ul ul li a:link:after,
.primary-nav ul ul ul li a:visited:after {
    /*font-size: .75em;*/
}

/* --------	Fourth Level --------- */

.primary-nav ul ul ul ul {
    margin-top: 0;
    padding-top: .3125em;
    padding-bottom: .3125em;
}

.primary-nav ul ul ul ul li a {
    background-color: #de003a;
    padding: .75em;
    width: 80%;
}

.primary-nav ul ul ul ul li a:hover {
    background-color: #c20035;
}

.primary-nav ul ul ul ul li a:link:after,
.primary-nav ul ul ul ul li a:visited:after {
    display: none;
}

/* ------------------------------------------------------------
	Connecting Lines:
------------------------------------------------------------ */
.primary-nav ul:before,
.primary-nav ul:after,
.primary-nav ul li:before,
.primary-nav ul li:after {
    content: '';
    display: block;
    position: absolute;
    border-width: 0;
    border-color: var(--bs-dark-border-subtle);
    border-style: solid;
    z-index: -1;
}

.primary-nav > ul > li:before {
    height: 1.375em;
    top: -1.375em;;
    right: calc(50% + .625em);
    width: 100%;
    border-top-width: 2px;
    border-right-width: 2px;
}

.primary-nav > ul > li:first-child + li:before {
    border-top-width: 0;
    height: 5em;
    top: -5em;
}

.primary-nav ul ul li:after {
    width: 50%;
    height: .6875em;
    top: 0;
    right: 2px;
    border-left-width: 2px;
}

.primary-nav ul ul li:first-child:before {
    width: 50%;
    height: 1.3125em;
    top: .6875em;
    right: 2px;
    border-left-width: 2px;
}

.primary-nav > ul > li:last-child:after {
    border-bottom-width: 0;
}

.primary-nav ul ul ul li:before {
    width: calc(50% - 5px);
    height: 100%;
    top: -50%;
    left: 0;
    border-left-width: 2px;
    border-bottom-width: 2px;
}

.primary-nav ul ul ul li:first-child:before {
    height: 2.125em;
    top: -2px;
    border-top-width: 2px;
}

.primary-nav ul ul ul:before {
    width: 50%;
    height: 1.25em;
    top: -11px;
    right: 2px;
    border-left-width: 2px;
}

.primary-nav ul ul ul li:after {
    border-width: 0;
}

.primary-nav ul ul ul ul li:before,
.primary-nav ul ul ul ul li:first-child:before {
    display: none;
}

.primary-nav ul ul ul ul:before {
    width: 2px;
    height: calc(100% + 2.5em);
    top: -2.5em;
    left: 0;
    border-left-width: 2px;
    /* border-color: red; */
}

/* ------------------------------------------------------------
	Utility Navigation
------------------------------------------------------------ */
.utility-nav {
    float: right;
    margin-top: 0;
    margin-bottom: -.25em;
    max-width: 48%;
    list-style-type: none;
}

.utility-nav li {
    padding: 0 0 .625em .625em;
    display: inline-block;
}

.utility-nav li a {
    display: block;
    /*font-size: .75em;*/
    padding: .75em 1em;
    text-align: left;
    color: white;
    background-color: #ff9d00;
    border: 2px solid rgba(0, 0, 0, .025);
    text-decoration: none;
}

.utility-nav li a:hover {
    background-color: #ff831b;
}

.utility-nav li a:link:after,
.utility-nav li a:visited:after {
    color: rgba(255, 255, 255, .75);
    /*font-size: .75em;*/
    margin-top: .25em;
}

/* ------------------------------------------------------------
	Responsive Styles
------------------------------------------------------------ */
@media screen and (max-width: 30em) {
    .primary-nav ul {
        display: block;
    }

    .primary-nav li {
        width: 100%;
        padding-right: 0;
    }

    .primary-nav .home {
        width: 100%;
        position: relative;
        margin-bottom: -1em;
        margin-top: 0;
    }

    .utility-nav {
        float: none;
        display: block;
        width: 100%;
        text-align: right;
        margin-bottom: 2.5em;
        max-width: 100%;
    }
}

/* The media queries below keep the grid column widths intact when
a column wraps. This prevents the wrapped column from displaying at
100% width. These queries also make the homepage line item flex
appropriately. When your sitemap is complete, remove the queries
that you don't need, and your sitemap layout will work perfectly. */

/* two column */
@media screen and (min-width: 30em) {
    .primary-nav > ul > li {
        max-width: 50%;
    }
}

/* three column */
@media screen and (min-width: 38.5em) {
    .primary-nav > ul > li {
        max-width: 33.3333%;
    }
}

/* four column */
@media screen and (min-width: 50em) {
    .primary-nav > ul > li {
        max-width: 25%;
    }
}

/* five column */
@media screen and (min-width: 61em) {
    .primary-nav > ul > li {
        max-width: 20%;
    }
}

/* six column
@media screen and (min-width: 73em) {
	.primary-nav > ul > li {	max-width: 16.66%;	}
}
 */
/* seven column
@media screen and (min-width: 84.5em) {
	.primary-nav > ul > li {	max-width: 14.285%;	}
}
 */
/* eight column
@media screen and (min-width: 96em) {
	.primary-nav > ul > li {	max-width: 12.5%; }
}
 */
/* nine column
@media screen and (min-width: 107.5em) {
	.primary-nav > ul > li {	max-width: 11.11%; }
}
 */
/* ten column
@media screen and (min-width: 119em) {
	.primary-nav > ul > li {	max-width: 10%; }
}
*/
