@import 'context_menu.css';
@import 'color_picker.css';
@import 'toast.css';
@import 'colums.css';
@import 'sidebar.css';

:root {
    --statusbar-height: 30px;
}

/* page-content */
.page-content {
    transition: margin-left var(--sidebar-delay) ease-in-out;
    margin-top: 1rem;
}

@media (prefers-reduced-motion: reduce) {
    .page-content {
        transition: none;
    }
}

body.sidebar-show .page-content {
    width: calc(100% - var(--sidebar-width));
    margin-left: var(--sidebar-width);
}

body:not(.sidebar-show) .page-content {
    width: 100%;
}

@media print {
    .page-content {
        width: 100%;
        margin: 0;
    }
}

/* vertical navigation border */
.navbar-vertical::after {
    top: 0;
    right: 0;
    content: "";
    height: 100%;
    position: absolute;
    border-right: var(--bs-border-width) solid var(--bs-border-color);
}

body.status-bar .navbar-vertical::after {
    height: calc(100% - var(--statusbar-height));
}

/* bottom margin when the status-bar is visible */
body.status-bar {
    margin-bottom: var(--statusbar-height);
}

/* footer */
footer {
    transition: all var(--sidebar-delay) ease-in-out;
}


@media (prefers-reduced-motion: reduce) {
    footer {
        transition: none;
    }
}

body.sidebar-show footer {
    left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width));
}

footer a,
footer span {
    padding: 0 0.5rem !important;
}

/* buttons for edit form */
.btn-form {
    min-width: 120px;
}

.btn-form-sm {
    min-width: 90px;
}

/* required */
.required:not(.form-check-label)::after {
    content: "*";
    color: var(--bs-danger);
}

/* card-title (same as h5) */
h1.card-title,
.h1.card-title {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0;
}

/* table overview within a parent card-body */
.table-overview {
    margin-bottom: 0;
}

.table-overview > tbody > tr:first-child > th,
.table-overview > tbody > tr:first-child > td {
    border-top-width: 0;
}

/* table edit for children entities */
.table-edit {
    margin-bottom: 0;
}

.card-header-list {
    border-bottom-width: 0;
}

.card-body-list {
    padding: 0;
}

.card-footer-list {
    border-top-width: 0;
}

.table-list {
    margin-bottom: 0;
}

.table-edit > thead > tr > th,
.table-edit > thead > tr > td,
.table-edit > tbody > tr > th,
.table-edit > tbody > tr > td,
.table-edit > tfoot > tr > th,
.table-edit > tfoot > tr > td {
    padding: 3px;
}

.table-edit > tbody > tr > td > div.form-group {
    margin-bottom: 0;
}

/* button edit in table */
.btn-edit {
    line-height: 0.8 !important;
}

a.btn-list {
    width: 40px;
}

.pagination {
    margin-bottom: 0;
}

/* exception table */
.table-exception td {
    word-break: break-word;
    hyphens: auto;
}

.table-exception th.property,
.table-exception td.property {
    width: 15%;
    background-color: transparent;
}

.table-exception th.value,
.table-exception td.value {
    width: 85%;
    background-color: transparent;
}

.table-exception td samp {
    font-size: 14px;
}

.table tbody + tbody {
    border-top-style: none;
}

/* span for calculation state color in show page */
span.state-color {
    width: 1.5rem;
    height: 1rem;
    display: inline-block;
    vertical-align: middle;
}

/* print media */
@media print {
    span.required::after,
    label.required::after,
    legend.required::after,
    th.required::after {
        content: "";
    }

    a:hover, a:visited, a:link, a:active {
        text-decoration: none;
    }
}

/* bottom width for header in bordered table */
.table-bordered thead td,
.table-bordered thead th {
    border-bottom-width: inherit;
}

/* no bottom width for header in table */
.table-no-bottom thead td,
.table-no-bottom thead th {
    border-bottom-width: inherit;
}

/* back to top button */
.btn-back-to-top {
    display: none;
    position: fixed;
    right: 15px;
    bottom: 15px;
    opacity: 0.25;
    z-index: 999997;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn-back-to-top:hover {
    opacity: 1;
}

body.status-bar .btn-back-to-top {
    bottom: calc(15px + var(--statusbar-height));
}

/* row link */
.table.rowlink td:not(.rowlink-skip),
.table .rowlink td:not(.rowlink-skip) {
    cursor: pointer;
}

.table.rowlink td:not(.rowlink-skip) a:not(.rowlink-skip),
.table .rowlink td:not(.rowlink-skip) a:not(.rowlink-skip) {
    font: inherit;
    color: inherit;
    text-decoration: inherit;
}

/* states and months cards in home page */
@media (width >= 0) {
    .card-index {
        flex: 1 0 calc(100% - 30px);
    }
}

@media (width >= 576px) {
    .card-index {
        flex: 1 0 calc(50% - 30px);
    }
}

@media (width >= 768px) {
    .card-index {
        flex: 1 0 calc(33.333333% - 30px);
    }
}

@media (width >= 1200px) {
    .card-index {
        flex: 1 0 calc(16.666667% - 30px);
    }
}

/* calculation (duplicate items, empty values and below margin) */
.duplicate-cell::after {
    content: " (D) ";
    color: var(--bs-danger);
    font-size: x-small;
    vertical-align: super;
}

.duplicate-footer::before {
    content: " (D) ";
    color: var(--bs-danger);
    font-size: smaller;
    vertical-align: super;
}

.empty-cell::before {
    content: " (V) ";
    color: var(--bs-danger);
    font-size: x-small;
    vertical-align: super;
}

.empty-footer::before {
    content: " (V) ";
    color: var(--bs-danger);
    font-size: smaller;
    vertical-align: super;
}

/* textarea */
textarea.resizable {
    min-height: 7rem;
    max-height: 16rem;
}

textarea.resizable-small {
    min-height: 4rem;
    max-height: 8.5rem;
}

textarea.fixed {
    resize: none;
}

/* cursors */
.cursor-wait {
    cursor: wait !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.cursor-move {
    cursor: move !important;
}

.cursor-not-allowed {
    cursor: not-allowed !important;
}

.cursor-text {
    cursor: text !important;
}

.cursor-cell {
    cursor: cell;
}

/* Remove spin buttons for number type */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* Custom file input */
.custom-file-input:lang(fr) ~ .custom-file-label::after {
    content: "Parcourir";
}

.custom-file-input {
    cursor: pointer;
}

/* avatar images */
.avatar {
    max-width: 32px;
    max-height: 32px;
}

.avatar-sm {
    max-width: 16px;
    max-height: 16px;
}

.avatar-lg {
    max-width: 96px;
    max-height: 96px;
}

/* widths 25%, 50%, 75% and 100% are already set by Boostrap */
.w-15 {
    width: 15% !important;
}

.w-20 {
    width: 20% !important;
}

.w-30 {
    width: 30% !important;
}

.w-35 {
    width: 35% !important;
}

.w-60 {
    width: 60% !important;
}

.w-70 {
    width: 70% !important;
}

.w-80 {
    width: 80% !important;
}

.w-85 {
    width: 85% !important;
}

/* input-border-color */
.input-group-prepend .border.border-right-0 {
    border-color: var(--bs-dark-bg-subtle) !important;
}

.input-group-append .border.border-left-0 {
    border-color: var(--bs-dark-bg-subtle) !important;
}

/* input-border-width */
.form-control-border-left-0:not(.is-invalid) {
    border-left-width: 0 !important;
}

.form-control-border-left-0:focus {
    border-left-width: 1px !important;
}

.form-control-border-right-0:not(.is-invalid) {
    border-right-width: 0 !important;
}

.form-control-border-right-0:focus {
    border-right-width: 1px !important;
}

/* horizontal line on the right of a label or a link */
.horizontal-line {
    display: flex !important;
    flex-direction: row;
}

.horizontal-line::after {
    content: "";
    flex: 1 1;
    display: inline-block;
    border-bottom: 1px solid var(--bs-border-color) !important;
    margin: auto auto auto 0.5rem;
}

/* Toggle icon before the element */
.drop-down-icon-left::before {
    font-family: "Font Awesome 7 Free", sans-serif;
    font-weight: 900;
    float: left;
    margin-right: 6px;
    content: "\f105";
    transition: transform var(--sidebar-delay) ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .drop-down-icon-left::before {
        transition: none;
    }
}

.drop-down-icon-left[aria-expanded=true]::before {
    transform: rotate(90deg);
}

/* Toggle icon after the element */
.drop-down-icon-right {
    flex: 1 1 auto !important;
}

.drop-down-icon-right.text-end  {
    flex: none !important;
}

.drop-down-icon-right::after {
    font-family: "Font Awesome 7 Free", sans-serif;
    font-weight: 900;
    float: right;
    margin-left: 6px;
    content: "\f104";
    transition: transform var(--sidebar-delay) ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .drop-down-icon-right::after {
        transition: none;
    }
}

.drop-down-icon-right[aria-expanded=true]::after {
    transform: rotate(-90deg);
}


/* reset the table hover row */
.table-hover tbody tr.not-hover:hover {
    color: inherit !important;
    background-color: inherit !important;
}

/*
 * non-editable
 */
tr.text-body-secondary td {
    color: var(--bs-secondary-color);
}

tr.text-body-secondary.table-primary td {
    color: var(--bs-table-color);
}

/* strikeout the row */
tr.strikeout-danger td {
    position: relative;
}

tr.strikeout-danger td::before {
    left: 0;
    top: 50%;
    width: 100%;
    content: " ";
    position: absolute;
    border-bottom: 1px solid var(--bs-danger);
}

/* fixed table header */
div.overflow-auto.table-fixed-header {
    max-height: 330px;
}

div.overflow-auto.table-fixed-header.table-fixed-header-sm {
    max-height: 207px;
}

table.table-fixed-header th {
    top: 0;
    z-index: 1020;
    position: sticky;
    border-top-width: 0;
    font-weight: normal;
    border-bottom-width: 1px !important;
    background-color: var(--bs-light-bg-subtle) !important;
}

/* cards in index page */
.index-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.index-child {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 15%;
}

@media (width <= 1200px) {
    .index-child {
        min-width: 20%;
    }
}

@media (width <= 992px) {
    .index-child {
        min-width: 25%;
    }
}

@media (width <= 768px) {
    .index-child {
        min-width: 33%;
    }
}

@media (width <= 576px) {
    .index-child {
        min-width: 50%;
    }
}

/* bold font for default action */
.dropdown-menu .btn-default {
    font-weight: bolder !important;
}

.context-menu-item.btn-default {
    font-weight: bolder !important;
}

.card-footer hr.card-footer-line {
    margin: 0.5rem calc(-1 * var(--bs-card-cap-padding-x)) 0.25rem;
}

.card-header.bg-danger .invalid-feedback {
    color: inherit;
}

@font-face {
    font-family: NotoColorEmojiLimited;
    unicode-range: U+1F1E6-1F1FF;
    src: url('../font/NotoColorEmoji.ttf');
}

.flag-emoji {
    font-family: NotoColorEmojiLimited, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* remove last line */
table.table-no-end-line:not(:has(tfoot tr)) tbody tr:last-child th,
table.table-no-end-line:not(:has(tfoot tr)) tbody tr:last-child td,
table.table-no-end-line tfoot tr:last-child th,
table.table-no-end-line tfoot tr:last-child td {
    border-bottom-width: 0 !important;
}

.pre-scrollable {
    max-height: 340px;
    overflow-y: auto;
}

/* remove left space when no label is displayed */
.form-check:has(.form-check-input.form-check-no-label) {
    padding-left: 0;
    margin-bottom: 0;
}

.form-check .form-check-input.form-check-no-label {
    float: none;
    margin-left: 0;
}

.form-check:has(.form-check-input.form-check-no-label) .form-check-label {
    display: none;
}

/*
 * field validation
 */
.field-valid {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.field-invalid {
    border-color: var(--bs-form-invalid-border-color);
    box-shadow: 0 0 0 0.25rem rgba(var(--bs-danger-rgb), 0.25);
}

/** border color for invalid input */
.invalid-border-color {
    border-color: var(--bs-form-invalid-border-color);
}

/* re-implement text justify */
.text-justify {
    text-align: justify !important
}

/* override default behavior */
a,
.btn-link {
    text-decoration: none;
}

a.disabled {
    pointer-events: none;
    color: var(--bs-tertiary-color);
}

/* dropdown menu with checked item on the right */
.dropdown-menu:has(.dropdown-item-checked-right) {
    min-width: 14rem;
}

.dropdown-item-checked-right::after {
    font-family: "Font Awesome 7 Free", sans-serif;
    font-weight: 900;
    content: '\f00c';
    margin-left: 0.5rem;
    float: right;
    top: 0;
}

/* read-only control label */
span.form-label {
    display: inline-block;
    cursor: default;
}

/* password strength */
.bottom-border-gradient {
    position: relative !important;
}

span.bottom-border-gradient {
    display: block;
    width: 100%;
    height: 0;
}

.bottom-border-gradient::after {
    position: absolute;
    content: '';
    height: 0.25rem;
    bottom: -0.25rem;
    left: 0;
    right: 0;
}

.bottom-border-gradient-20::after {
    background: linear-gradient(
            to right,
            var(--bs-danger) calc(20% - 1px),
            transparent calc(20% - 1px), transparent
    ) !important;
}

.bottom-border-gradient-40::after {
    background: linear-gradient(
            to right,
            var(--bs-danger) calc(20% - 1px),
            transparent calc(20% - 1px), transparent calc(20% + 1px),
            var(--bs-danger) calc(20% + 1px), var(--bs-danger) calc(40% - 1px),
            transparent calc(40% - 1px), transparent
    ) !important;
}

.bottom-border-gradient-60::after {
    background: linear-gradient(
            to right,
            var(--bs-danger) calc(20% - 1px),
            transparent calc(20% - 1px), transparent calc(20% + 1px),
            var(--bs-danger) calc(20% + 1px), var(--bs-danger) calc(40% - 1px),
            transparent calc(40% - 1px), transparent calc(40% + 1px),
            var(--bs-warning) calc(40% + 1px), var(--bs-warning) calc(60% - 1px),
            transparent calc(60% - 1px), transparent
    ) !important;
}

.bottom-border-gradient-80::after {
    background: linear-gradient(
            to right,
            var(--bs-danger) calc(20% - 1px),
            transparent 20%, transparent calc(20% + 1px),
            var(--bs-danger) calc(20% + 1px), var(--bs-danger) calc(40% - 1px),
            transparent calc(40% - 1px), transparent calc(40% + 1px),
            var(--bs-warning) calc(40% + 1px), var(--bs-warning) calc(60% - 1px),
            transparent calc(60% - 1px), transparent calc(60% + 1px),
            var(--bs-success) calc(60% + 1px), var(--bs-success) calc(80% - 1px),
            transparent calc(80% - 1px)
    ) !important;
}

.bottom-border-gradient-100::after {
    background: linear-gradient(
            to right,
            var(--bs-danger) calc(20% - 1px),
            transparent 20%, transparent calc(20% + 1px),
            var(--bs-danger) calc(20% + 1px), var(--bs-danger) calc(40% - 1px),
            transparent calc(40% - 1px), transparent calc(40% + 1px),
            var(--bs-warning) calc(40% + 1px), var(--bs-warning) calc(60% - 1px),
            transparent calc(60% - 1px), transparent calc(60% + 1px),
            var(--bs-success) calc(60% + 1px), var(--bs-success) calc(80% - 1px),
            transparent calc(80% - 1px), transparent calc(80% + 1px),
            var(--bs-primary) calc(80% + 1px)
    ) !important;
}

.typeahead.dropdown-menu .dropdown-item.active span,
.typeahead.dropdown-menu .dropdown-item:active span {
    color: inherit !important;
    font-weight: inherit !important;
}

.d-flex-wrap {
    display: flex !important;
    flex-wrap: wrap !important;
    align-items: start !important;
    gap: 0.25rem 0.5rem !important;
    -moz-column-gap: 0.5rem !important;
}

.d-flex-wrap-center {
    display: flex !important;
    flex-wrap: wrap !important;
    align-items: center !important;
    gap: 0.25rem 0.5rem !important;
    -moz-column-gap: 0.5rem !important;
}

.d-flex-no-wrap-center {
    display: flex !important;
    align-items: center !important;
    column-gap: 0.5rem !important;
    -moz-column-gap: 0.5rem !important;
}

.card.card-collapse .card-header {
    border-bottom: 0 !important;
}

.card.card-collapse .card-body,
.card.card-collapse .card-header:not(:first-child) {
    border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

.card.card-collapse .card-header .drop-down-icon-left,
.card.card-collapse .card-header .drop-down-icon-right {
    margin-bottom: 0 !important;
}

/**
 * Form errors in header
 */
.card-header .alert.alert-danger {
    margin-top: 1rem !important;
    margin-bottom: 0.5rem !important;
}

/**
 * Chart
 */
.chart.month {
    min-height: 400px;
}

.chart.state {
    min-height: 550px;
}

/**
 * Google recaptcha
 */
.grecaptcha-badge {
    bottom: 5px !important;
}

body.status-bar .grecaptcha-badge {
    bottom: calc(5px + var(--statusbar-height)) !important;
}

/*
 * Card header error
 */
.card-header.text-bg-danger .text-danger {
    color: unset !important;
}

/* Remove selection color of accordion button */
.accordion.accordion-no-background .accordion-button:not(.collapsed) {
    color: inherit;
    background-color: inherit;
}

/* scrollbar */
.scrollbar-none {
    scrollbar-width: none;
}

.scrollbar-thin {
    scrollbar-width: thin;
}
