@import '../js/vendor/font-awesome/css/all.css';
@import 'custom-control.css';
@import 'tooltips.css';
@import 'popover.css';
@import 'toast.css';
@import 'color-picker.css';
@import 'colums.css';
@import 'sidebar.css';

/**! compression tag for ftp-deployment */

/*
 * add margin and override padding for Bootswatch themes
 */
.navbar.navbar-horizontal {
    margin-bottom: 20px;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    transition: top 0.3s;
}

/*
 * Example button for theme example
 */
.btn-example.disabled {
    opacity: 1;
    pointer-events: none;
}

/*
 * buttons for edit form
 */
.btn-form {
    min-width: 120px;
}
.btn-form-sm {
    min-width: 90px;
}

/*
 * required
 */
span.required:after,
label.required:not(.form-check-label):after,
legend.required:after,
th.required:after,
td.required:after {
    content: "*";
    color: var(--danger);
}

/*
 * Plain text DIV
 */
.plain-text {
    padding: 6px 12px;
}

/*
 * card-title (same as h5)
 */
h1.card-title {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 0;
}

/*
 * table overview within a parent card-body
 */
.table-overview {
    margin-bottom: 0;
}
.table-overview>tbody>tr:first-child>th,
.table-overview>tbody>tr:first-child>td {
    border-top-width: 0;
}

/*
 * table edit for children entities
 */
.table-edit {
    margin-bottom: 0;
}

.card-header-list {
    border-bottom-width: 0;
}

.card-body-list {
    padding: 0;
}

.card-footer-list {
    border-top-width: 0;
}

.table-list {
    margin-bottom: 0;
}
.table-list>thead>tr>th {
    border-bottom-width: 0;
}

.table-edit>thead>tr>th,
.table-edit>thead>tr>td,
.table-edit>tbody>tr>th,
.table-edit>tbody>tr>td,
.table-edit>tfoot>tr>th,
.table-edit>tfoot>tr>td {
    padding: 3px;
}
.table-edit>tbody>tr>td>div.form-group {
    margin-bottom: 0;
}

/*
 * button edit in table
 */
.btn-edit {
    line-height: 0.8 !important;
}

a.btn-list {
    width: 40px;
}

.pagination {
    margin-bottom: 0;
}

/*
 * exception table
 */
.table-exception td {
    word-break: break-word;
    hyphens: auto;
}
.table-exception th.property,
.table-exception td.property {
    width: 15%;
    background: transparent;
}
.table-exception th.value,
.table-exception td.value {
    width: 85%;
    background: transparent;
}
.table-exception td samp {
    font-size: 14px;
}
.table tbody+tbody {
    border-top-style: none;
}

/*
 * span for calculation state color in show page
 */
span.state-color {
    width: 1.5rem;
    height: 1rem;
    display: inline-block;
    vertical-align: middle;
}

/*
 * Print media
 */
@media print {
    span.required:after,
    label.required:after,
    legend.required:after,
    th.required:after {
        content: "";
    }
    a:hover, a:visited, a:link, a:active {
        text-decoration: none;
    }
}

/*
 * Bottom width for header in bordered table
 */
.table-bordered thead td,
.table-bordered thead th {
    border-bottom-width: inherit;
}

/*
 * No bottom width for header in table
 */
.table-no-bottom thead td,
.table-no-bottom thead th {
    border-bottom-width: inherit;
}

/*
 * Back to top button
 */
.btn-back-to-top {
    display: none;
    position: fixed;
    right: 15px;
    bottom: 45px;
    opacity: 0.25;
    z-index: 999997;
    padding-top: 5px;
    padding-bottom: 5px;
}
.btn-back-to-top:hover {
    opacity: 1;
}

/*
 * Row link
 */
.table.rowlink td:not(.rowlink-skip),
.table .rowlink td:not(.rowlink-skip) {
    cursor: pointer;
}
.table.rowlink td:not(.rowlink-skip) a,
.table .rowlink td:not(.rowlink-skip) a {
    font: inherit;
    color: inherit;
    text-decoration: inherit;
}

/*
 * Card flex

.card-flex {
    min-width: 270px;
}
.card-flex table {
    table-layout: fixed !important;
}
.card-flex table td {
    padding-top: 0;
    padding-bottom: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (min-width : 768px) {
    .card-flex {
        max-width: 48.7%;
    }
}
@media (min-width : 992px) {
    .card-flex {
        max-width: 32.3%;
    }
}
@media (min-width : 1200px) {
    .card-flex {
        max-width: 32.55%;
    }
}
 */

/*
 * last calculations in home page

.card-last td {
    padding-top: 0;
    padding-bottom: 0;
}
.card-last td.data-search {
    word-break: break-word;
    white-space: normal;
}
@media (min-width : 0px) {
    .card-last {
        flex: 1 0 calc(100% - 30px);
    }
}
@media (min-width : 768px) {
    .card-last {
        flex: 1 0 calc(50% - 30px);
    }
}
@media (min-width : 992px) {
    .card-last {
        flex: 1 0 calc(33.33333333333333% - 30px);
    }
}
*/

/*
 * states and months cards in home page
 */
@media (min-width : 0px) {
    .card-index {
        flex: 1 0 calc(100% - 30px);
    }
}
@media (min-width : 576px) {
    .card-index {
        flex: 1 0 calc(50% - 30px);
    }
}
@media (min-width : 768px) {
    .card-index {
        flex: 1 0 calc(33.33333333333333% - 30px);
    }
}
@media (min-width : 1200px) {
    .card-index {
        flex: 1 0 calc(16.66666666666667% - 30px);
    }
}

/**
 * Calculation (duplicate items, empty values and below margin)
 */
.duplicate-cell:after{
    content: " (D) ";
    color: var(--danger);
    font-size: x-small;
    vertical-align: super;
}
.duplicate-footer:before{
    content: " (D) ";
    color: var(--danger);
    font-size: smaller;
    vertical-align: super;
}
.empty-cell:before {
    content: " (V) ";
    color: var(--danger);
    font-size: x-small;
    vertical-align: super;
}
.empty-footer:before {
    content: " (V) ";
    color: var(--danger);
    font-size: smaller;
    vertical-align: super;
}

/**
 * textarea
 */
textarea.resizable {
    min-height: 8rem;
    max-height: 16rem;
}

textarea.fixed {
    resize: none;
}

/**
 * Cursors
 */
.cursor-default {
    cursor: default !important;
}
.cursor-wait {
    cursor: wait !important;
}
.cursor-pointer {
    cursor: pointer !important;
}
.cursor-move {
    cursor: move !important;
}
.cursor-not-allowed {
    cursor: not-allowed !important;
}

/**
 * Remove spin buttons for number type
 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

/**
 * Remove clear cross for IE/Edge
 */
::-ms-clear {
    display: none;
}

/**
 * Remove red cross for invalid field
 */
.was-validated .form-control:invalid, .form-control.is-invalid {
    background-image: none !important;
    padding-right: 0.75rem !important;
}
/**
 * Remove green cross for valid field
 */
.was-validated .custom-select:valid, .custom-select.is-valid {
    background-image: none !important;
    padding-right: 1.75rem !important;
}


/**
 * Custom file input
 */
.custom-file-input:lang(fr) ~ .custom-file-label::after {
    content: "Parcourir";
}
.custom-file-input {
    cursor: pointer;
}

/**
 * Fixed Footer
 */
body {
    margin-bottom: 30px;
}

/*
 * Avatar images
 */
.avatar {
    max-width: 32px;
    max-height: 32px;
}
.avatar-sm {
    max-width: 16px;
    max-height: 16px;
}
.avatar-lg {
    max-width: 96px;
    max-height: 96px;
}

/**
 * widths 25%, 50%, 75% and 100% are already set by Boostrap
 */
.w-15 {
    width: 15% !important;
}
.w-20 {
    width: 20% !important;
}
.w-30 {
    width: 30% !important;
}
.w-35 {
    width: 35% !important;
}
.w-60 {
    width: 60% !important;
}
.w-70 {
    width: 70% !important;
}
.w-80 {
    width: 80% !important;
}
.w-85 {
    width: 85% !important;
}

/* $input-border-color */
.input-group-prepend .border.border-right-0 {
    border-color: #ced4da !important;
}
.input-group-append .border.border-left-0 {
    border-color: #ced4da !important;
}

/* $input-border-width*/
.form-control-border-left-0:not(.is-invalid) {
    border-left-width: 0 !important;
}
.form-control-border-left-0:focus {
    border-left-width: 1px !important;
}
.form-control-border-right-0:not(.is-invalid)  {
    border-right-width: 0 !important;
}
.form-control-border-right-0:focus {
    border-right-width: 1px !important;
}

/**
 * Calculation overall margin tooltip
 */
.overall-card.tooltip .arrow {
    left: 150px !important;
}
.overall-datatable.tooltip .arrow {
    left: 120px !important;
}
.overall-cell.tooltip .arrow {
    left: 110px !important;
}

/**
 * horizontal line on the right of a label or a link
 */
.horizontal-line {
    display: flex;
    flex-direction: row;
}
.horizontal-line:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #ced4da;
    margin: auto auto auto 0.5rem;
}

.horizontal-line i {
    font-size: inherit;
    line-height: inherit;
}

/**
 * Context menu
 */
 .context-menu-list {
    -webkit-box-shadow: inherit !important;
       -moz-box-shadow: inherit !important;
         -o-box-shadow: inherit !important;
            box-shadow: inherit !important;
}
.context-menu-separator {
    padding: 0 !important;
    border-bottom-style: hidden !important;
}
.context-menu-icon.context-menu-icon--fa5 i,
.context-menu-icon.context-menu-icon--fa5 svg {
    position: inherit !important;
    color: inherit !important;
    left: inherit !important;
    top: inherit !important;
    margin-right: 0.3rem;
}

/**
  * Table selection (datatables and calculation edit).
  */
.dataTable .table-primary th,
.dataTable .table-primary td,
.dataTable .table-primary thead th,
.dataTable .table-primary tbody + tbody,
.table-edit .table-primary th,
.table-edit .table-primary td,
.table-edit .table-primary thead th,
.table-edit .table-primary tbody + tbody {
    border-color: transparent !important;
}

/**
 * Reset the table hover row.
 */
.table-hover tbody tr.not-hover:hover {
  color: inherit !important;
  background-color: inherit !important;
}

/**
 * strikeout the row
 */
tr.strikeout-danger td {
    position: relative;
}
tr.strikeout-danger td:before {
  left: 0;
  top: 50%;
  width: 100%;
  content: " ";
  position: absolute;
  border-bottom: 1px solid var(--danger);
}

/**
 * Fixed table header
 */
div.overflow-auto.table-fixed-header {
    max-height: 312px;
}
div.overflow-auto.table-fixed-header.table-fixed-header-sm {
    max-height: 207px;
}
table.table-fixed-header {
    margin-bottom: 0;
}
table.table-fixed-header th {
    top: 0;
    z-index: 1020;
    position: sticky;
    border-top-width: 0;
    background: var(--white);
    font-weight: normal;

}
table.table-fixed-header .thead-light th {
    border-bottom-width: 0;
}

/**
 * Cards in index page.
 */
.index-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.index-child {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 15%;
}

@media (max-width: 1200px) {
    .index-child {
        min-width: 20%;
    }
}

@media (max-width: 992px) {
    .index-child {
        min-width: 33.33%;
    }
}

@media (max-width: 768px) {
    .index-child {
        min-width: 50%;
    }
}
@media (max-width: 576px) {
    .index-child {
        min-width: 100%;
    }
}

/**
 * bold font for default action
 */
.dropdown-menu .btn-default {
    font-weight: bolder !important;
}
.context-menu-item.btn-default {
    font-weight: bolder !important;
}

#chartContainer > text {
    color: red !important;
    fill: red !important;
}
