@import 'table.css';
@import 'highlight.css';

/**! compression tag for ftp-deployment */

.date {
    width: 170px;
}

.level {
    width: 95px;
    white-space: nowrap;
}

.channel {
    width: 120px;
    white-space: nowrap;
}

.message {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 5rem;
}

@media ( min-width: 576px) {
    .message {
        max-width: 5rem;
    }
}

@media ( min-width: 768px) {
    .message {
        max-width: 10rem;
    }
}

th.user,
td.user {
    width: 100px;
    white-space: nowrap;
}

/* PHP array */
pre.highlight-php {
    background-color: initial !important;
}
