@import 'style.css';
@import '../vendor/bootstrap-table/bootstrap-table.css';
@import '../vendor/jquery-contextmenu/jquery.contextMenu.css';

/**! compression tag for ftp-deployment */

/* global styles */
.bootstrap-table .fixed-table-container .fixed-table-body .table {
    table-layout: fixed !important;
}

.bootstrap-table .fixed-table-container .fixed-table-body .table td {
    vertical-align: top !important;
}

.bootstrap-table .fixed-table-container .fixed-table-body .fixed-table-loading {
    background: initial;
}

/* card view */
.bootstrap-table .fixed-table-container .fixed-table-body .table tbody tr .card-views {
    cursor: pointer;
}

.bootstrap-table .fixed-table-container .fixed-table-body .table tbody tr .card-view .card-view-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
    overflow: hidden;
    min-width: 10rem;
}

.bootstrap-table .fixed-table-container .fixed-table-body .table tbody tr .card-view .card-view-value {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
}

/* reset color for colored headers */
.bootstrap-table .fixed-table-container .table thead th.text-danger {
    color: inherit !important;
}

/* use sort arrows from Font Awesome */
.bootstrap-table .fixed-table-container .table thead th .sortable {
    padding-right: 0 !important;
}

.bootstrap-table .fixed-table-container .table thead th .both,
.bootstrap-table .fixed-table-container .table thead th .asc,
.bootstrap-table .fixed-table-container .table thead th .desc {
    background-image: none;
}

.bootstrap-table .fixed-table-container .table thead th .sortable:after {
    font-family: "Font Awesome 6 Free", sans-serif;
    font-weight: 900;
    padding-left: 0.35rem;
    opacity: 0.3;
}

.bootstrap-table .fixed-table-container .table thead th .both:after {
    content: "\f0dc";
}

.bootstrap-table .fixed-table-container .table thead th .asc:after {
    content: "\f0d8";
    opacity: 1;
}

.bootstrap-table .fixed-table-container .table thead th .desc:after {
    content: "\f0d7";
    opacity: 1;
}

/* hide icons on print */
@media print {
    .bootstrap-table .fixed-table-container .table thead th .sortable:after,
    .bootstrap-table .fixed-table-container .table thead th .both:after,
    .bootstrap-table .fixed-table-container .table thead th .asc:after,
    .bootstrap-table .fixed-table-container .table thead th .desc:after {
        display: none;
    }
}

/* page informations */
.pagination-detail {
    line-height: 2rem;
}

/* calculation overall margin below */
tr.text-body-secondary td .text-danger {
    opacity: 0.75;
}

/* loading message */
.loading-message {
    width: 50%;
}

@media (max-width: 992px) {
    .loading-message {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .loading-message {
        width: 100%;
    }
}

/* text muted in card view */
.bootstrap-table .custom-item.text-body-secondary a.text-body {
    color: var(--bs-secondary-color) !important;
}

/* selection */
.bootstrap-table .custom-item.table-primary {
    background-color: var(--bs-table-bg) !important;
}

.bootstrap-table tr.table-primary.text-body-secondary,
.bootstrap-table .custom-item.table-primary.text-body-secondary,
html[data-bs-theme=dark] .bootstrap-table .custom-item.table-primary hr,
html[data-bs-theme=dark] .bootstrap-table .custom-item.table-primary a.text-body {
    color: var(--bs-table-color) !important;
}

/* no record found */
.bootstrap-table:has(tr.no-records-found) {
    margin-bottom: 1rem;
}

.bootstrap-table:has(tr.no-records-found) thead {
    display: none;
}

.bootstrap-table .fixed-table-container .table tbody tr.no-records-found {
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

.bootstrap-table .fixed-table-container .table tbody tr.no-records-found td {
    padding: 0.5rem !important;
    color: var(--bs-secondary) !important;
}

/* pagination */
.fixed-table-pagination {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    align-items: center;
}

.fixed-table-pagination .float-left {
    margin-right: auto;
    line-height: initial;
}

/* search control */
.form-control.form-control-search {
    width: 130px;
}

/* drop-down second level */
.dropdown-item.dropdown-child {
    padding-left: calc(2 * var(--bs-dropdown-item-padding-x)) !important;
}

/* custom view header */
.custom-view-header {
    flex: 1 1 auto;
    font-weight: 700;
    overflow: hidden;
}

.custom-view-header a.item-link {
    display: inline-block;
    width: 100% !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
