/**! compression tag for ftp-deployment */

/**
 * Toast plugin
 */
.toast-plugin {
    position: fixed;
    transition: all 0.35s ease;
}

.toast-plugin.top-left {
    top: 0;
    left: 0;
}

.toast-plugin.top-center {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.toast-plugin.top-right {
    top: 0;
    right: 0;
}

.toast-plugin.center-left {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.toast-plugin.center-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toast-plugin.center-right {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.toast-plugin.bottom-left {
    bottom: 0;
    left: 0;
}

.toast-plugin.bottom-center {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.toast-plugin.bottom-right {
    bottom: 0;
    right: 0;
}

@media only screen and (max-width: 576px) {
    .toast-plugin {
        left: 0 !important;
        right: 0 !important;
        max-width: calc(100vw - 20px) !important;
        margin-left: auto !important;
        margin-right: auto !important;
        transform: none !important;
    }
    .toast-plugin .toast {
        width: auto !important;
        margin-left: auto !important;
        margin-right: auto !important;
        transform: none !important;
    }
}
