<div class="dropup me-auto">
    {{- include('navigation/menu/_menu_user_button.html.twig', {
        button_class: ['d-flex', 'align-items-center', 'rowlink-skip'],
        dropdown_class: 'dropdown-menu-default',
        full_width: true}) -}}
</div>
