{% extends 'cards/card_base.html.twig' %}
{% from 'macros/_icons.html.twig' import link, homepage %}
{# parameters #}
{%- set title = title|default('flash_bag.warning') -%}
{%- set title_icon = title_icon|default('exclamation-circle') -%}
{%- set back_page = back_page|default(false) -%}
{%- set back_icon = back_icon|default('chevron-left') -%}
{%- set back_text = back_text|default('common.button_back') -%}
{%- set back_class = back_class|default('btn btn-form btn-primary') -%}
{# classes #}
{% block card_class ' border-warning' %}
{% block card_header_class ' text-bg-warning' %}
{# body #}
{% block card_body %}
<p class="my-2">
    {{- message|default('http_error_500.description'|trans)|raw -}}
</p>
{%- if items|default(false) and items|length -%}
    <ul class="mt-2 ms-5">
        {% for item in items -%}
            <li>{{ item|raw }}</li>
        {%- endfor %}
    </ul>
{%- endif -%}
{%- endblock %}
{# footer #}
{% block card_footer %}
{% if back_page and item %}
    {%- set href = cancel_url(app.request, item.id, back_page) -%}
    {{ link(href, back_text, back_class, back_icon) }}
{% else %}
    {{ homepage() }}
{% endif %}
{% endblock %}
