{% extends 'cards/card_edit.html.twig' %}
{% import 'macros/_icons.html.twig' as icons %}

{# parameters #}
{%- set title_icon   = 'times' -%}
{%- set submit_text  = submit_text|default('common.button_delete') -%}
{%- set submit_class = submit_class|default('btn btn-form btn-danger') -%}
{%- set cancel_path  = cancelUrl(app.request, item.id|default(0), page_list|default('homepage')) -%}
         
{% block card_class ' border-danger' %}
{% block card_header_class 'text-white bg-danger' %}
{% block required_form %}{% endblock %}

{% block card_body -%}
<p class="mb-0">{{ message|raw }}</p>
{%- endblock %}

{% block javascripts -%}
{% if app.debug %}
{{ parent() }}
{{ asset_js('js/app/validation_edit.js') }}
{% else %}
{{ asset_js('js/validation_edit.js') }}
{% endif %}
{%- endblock %}