{% from 'macros/_icons.html.twig' import icon %}
{% from 'macros/_attributes.html.twig' import attributes %}
{%- set header_attributes = header_attributes|merge({
    'href': '#' ~ panel_key,
    'title': panel_title|trans,
    'aria-expanded': panel_show|json_encode}) -%}
<div class="card-header d-flex-wrap-center">
    <a{{ attributes(header_attributes) }}>
        {{- icon(ICON_CALCULATION ~ ' ms-1', 'index.panel_table_title') -}}
    </a>
    {%- if add_page -%}
        {%- set params = route_params(app.request)|merge({'caller': caller}) -%}
        {%- set path = path(add_page, params) -%}
        <a href="{{ path }}" class="d-print-none">{{ 'calculation.add.title'|trans }}</a>
    {%- endif -%}
</div>
