{# macros #}
{% macro margin(margin, min_margin) -%}
{%- if margin < min_margin -%}
    {%- set overall_title = 'calculation.list.margin_below'|trans({'%margin%': margin|percent, '%minimum%': min_margin|percent}) -%}
    {%- set class_name = 'text-danger has-tooltip' -%}
{% else %}
    {%- set overall_title = 'calculation.fields.globalMargin'|trans -%}
    {%- set class_name = false -%}
{%- endif -%}
<sup title="{{ overall_title }}"{% if class_name %} class="{{ class_name }}"{% endif %}>
    <small>{{ margin|percent }}</small>
</sup>
{%- endmacro margin %}

{% macro empty_content() %}
<div class="card-body p-2">
    <div class="alert alert-warning flex-fill mb-0 py-2 text-center" role="alert">
        {{- 'calculation.list.empty'|trans -}}
    </div>
</div>
{% endmacro empty_content %}
