{# user disabled panel #}
<div class="alert alert-danger" role="alert">
    <div class="d-flex">
        <div class="flex-shrink-0">
            <i class="fa-solid fa-circle-exclamation fa-3x"></i>
        </div>
        <div class="flex-grow-1 ms-4">
            {{- 'index.disabled'|trans({'%username%': app.user.userIdentifier})|raw -}}
        </div>
    </div>
    <hr class="mb-2"/>
    <div class="d-flex">
        <a href="{{ logout_path() }}" class="alert-link w-100 text-end" title="{{ 'security.logout.title'|trans }}">
            <i class="fa-solid fa-sign-out-alt fa-fw me-1"></i>{{ 'index.logout'|trans }}
        </a>
    </div>
</div>
