{# panel parameters #}
{%- set panel_key = 'DISPLAY_CALCULATION' -%}
{%- set panel_show = app.request.cookies.boolean(panel_key, true) -%}
{%- set panel_title = panel_show ? 'common.collapse' : 'common.expand' -%}
{# header parameters #}
{%- set caller = path('homepage') -%}
{%- set add_page = is_granted(PERMISSION_ADD, ENTITY_CALCULATION) ? 'calculation_add' : null -%}
{# card #}
<div class="card card-collapse mb-2">
    {{ include('index/_calculation_header.html.twig') }}
    <div class="collapse{% if panel_show %} show{% endif %}" id="{{ panel_key }}" data-url="{{ url('homepage_content') }}">
        {{ include('index/_calculation_content.html.twig') }}
    </div>
</div>
