{% extends 'cards/card_delete.html.twig' %}

{# parameters #}
{%- set title = 'log.delete.title' -%}

{% block card_body %}
<p>{{ 'log.delete.message'|trans }}</p>
<p class="mb-0">{{ 'log.show.file'|trans({'%file%': file}) }}</p>
{% endblock %}

{% block actions_form %}
    {% set cancel_path = path(route|default('homepage')) %}
    {{ parent() }}
{% endblock %}
