<div class="toggle-icon collapse" id="options" data-parent="#parent_accordion">
    <div class="mt-2">
        <small class="mb-2 form-text text-muted">{{ 'parameters.group_options_help'|trans }}</small>
        {{ form_row(form.qr_code) }}
        {{ form_row(form.print_address) }}
    </div>
</div>
