{% extends 'cards/card_delete.html.twig' %}
{# parameters #}
{%- set title = 'clear_cache.title' -%}
{%- set submit_text = 'clear_cache.submit' -%}
{%- set message = 'clear_cache.message' %}
{%- set message_parameters = {'%size%': size} -%}
{# message #}
{% block message %}
{{ parent() }}
<p class="my-2">{{ 'clear_cache.note'|trans|raw }}</p>
{# pools #}
{% if pools|length %}
    <div class="dropdown border rounded p-2">
        <a class="drop-down-icon-right text-body d-block" href="#pools" data-bs-toggle="collapse" aria-expanded="false">{{ 'clear_cache.list'|trans }}</a>
        <div class="collapse" id="pools">
            <hr class="mt-2 mb-2 mx-0">
            <ul class="m-1">
                {% for pool in pools %}
                    <li>{{ pool }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
{% endblock %}
