{% extends 'cards/card_delete.html.twig' %}
{# parameters #}
{%- set title = 'clear_cache.title' -%}
{%- set submit_text = 'clear_cache.submit' -%}
{%- set message = 'clear_cache.message' %}
{%- set message_parameters = {'%size%': size} -%}
{% block card_container_class ' col-md-8 offset-md-2 col-xl-6 offset-xl-3' %}
{# body #}
{% block body -%}
    {{ parent() }}
    {{ include('admin/_cache_dialog.html.twig') }}
{% endblock body %}
{# actions #}
{% block actions_form -%}
    {{ parent() }}
    <button type="button" class="btn btn-form btn-outline-info" data-bs-toggle="modal" data-bs-target="#modal-cache-list">
        {{- 'clear_cache.list'|trans -}}
    </button>
{% endblock actions_form %}
