{% apply spaceless %}
    {% if route|default(false) and count > 0 %}
        <a href="{{ path(route, parameters|default({})) }}"{% if title %} title="{{ title|trans }}"{% endif %}>{{ count|integer }}</a>
    {% else %}
        {{ count|integer }}
    {% endif %}
{% endapply %}
