{% import 'macros/_icons.html.twig' as icons %}
<div class="dropdown dropleft text-right">
    {{ icons.dropdownEllipsis('dropdownmenu_' ~ id) }}
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Empty</a>
    </div>
</div>
