{# macros #}
{% macro password_constraints(tooltips) %}
    <div class="alert alert-info p-2 mb-0 small">
        <div class="d-flex-wrap-center">
            <a class="drop-down-icon-right alert-link fw-normal" data-bs-toggle="collapse" href="#password-dropdown" aria-expanded="false">
                <i class="fa-regular fa-lightbulb me-1"></i>{{ 'password.constraint'|trans }}
            </a>
        </div>
        <div class="collapse pt-1" id="password-dropdown">
            <hr class="my-1">
            <ul class="mb-0">
                {% for tooltip in tooltips %}
                    <li>{{ tooltip|e }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endmacro password_constraints %}
