{# macros #}
{% macro password_tooltips(tooltips) %}
{% if tooltips|length %}
    <div class="text-body-secondary">
        <p class="mb-1">
            {{ 'password.constraint'|trans }}
        </p>
        <ul class="mb-0">
            {% for tooltip in tooltips %}
                <li>{{ tooltip|e }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% endmacro %}
