{# macros #}
{% macro password_constraints(tooltips) %}
    {% from 'macros/_icons.html.twig' import icon %}
    <div class="alert alert-info p-2 mb-0 small" role="alert">
        <p class="mb-0">{{- icon('lightbulb far', 'password.constraint') -}}</p>
        <hr class="my-2">
        <ul class="mb-0">
            {% for tooltip in tooltips %}
                <li>{{ tooltip|e }}</li>
            {% endfor %}
        </ul>
    </div>
{% endmacro password_constraints %}
