{# create timestampable row #}
{% macro timestampable_footer(item, separator = true) %}
    {% if not item.new %}
        {% set created = item.createdMessage(false)|trans %}
        {% set updated = item.updatedMessage(false)|trans %}
        {% if separator %}
            <hr class="card-footer-line">
        {% endif %}
        <div class="d-flex-wrap-center text-body-tertiary small{% if separator %} mt-2{% endif %}">
            <span class="me-auto">{{- created -}}</span><span>{{- updated -}}</span>
        </div>
    {% endif %}
{% endmacro %}

{% macro timestampable_properties(item) -%}
    {% from 'macros/_properties.html.twig' import property %}
    {{ property('calculation.fields.created', item.createdMessage(true)|trans) }}
    {{ property('calculation.fields.updated', item.updatedMessage(true)|trans) }}
{%- endmacro %}
