{% extends 'cards/card_table.html.twig' %}

{# parameters #}
{%- set title       = 'calculation.list.title' -%}
{%- set title_icon  = 'calculator' -%}
{%- set pdf_title   = 'calculation.list.pdf_title' -%}
{%- set object_type = IEntityVoter.ENTITY_CALCULATION -%}

{# actions #}
{%- set params      = {'id' : 0} -%}
{%- set add_path    = path('calculation_add') -%}
{%- set show_path   = path('calculation_show', params) -%}
{%- set edit_path   = path('calculation_edit', params) -%}
{%- set delete_path = path('calculation_delete', params) -%}
{%- set pdf_path    = path('calculation_pdf') -%}
{%- set clone_path  = path('calculation_clone', params) -%}
{%- set state_path  = path('calculation_state', params) -%}
{%- set single_path = path('calculation_pdf_id', params) -%}

{# titles #}
{%- set add_title    = 'calculation.add.title' %}
{%- set show_title   = 'calculation.show.title' %}
{%- set edit_title   = 'calculation.edit.title_short' %}
{%- set delete_title = 'calculation.delete.title' %}

{# highlight search #}
{%- set attributes = attributes|default({})|merge ({
    'data-search-highlight': true
}) -%}

{# other actions #}
{% block table_actions %}
{{ _self.item_data(clone_path, 'common.button_clone', 'copy') }}
{{ _self.item_data(state_path, 'calculation.list.state_title', 'edit') }}
{{ _self.item_data_external(single_path, 'common.button_pdf', 'file-pdf far') }}
<div class="dropdown-divider"></div>
{{ parent() }}
{% endblock %}