{# imports #}
{% import 'macros/_icons.html.twig' as icons %}

<div id="totals-panel" class="card mb-3">
    <div class="card-header">
    	<h1 class="card-title">{{ icons.icon('list-ul', 'calculation.edit.panel_resume') }}</h1>
    </div>
    <div class="card-body card-body-overview">
        <table id="totals-table" class="table table-overview table-sm">
            <tbody>
                {% include 'calculation/calculation_ajax_totals.html.twig' %}
            </tbody>
        </table>
    </div>
    <div class="card-footer p-1{% if new %} d-none{% endif %}">
        <div class="row">
            <div class="col small text-muted my-2 mx-1">
               <span>{{ created_item|raw }}</span>
            </div>
            <div class="col small text-muted my-2 mx-1 text-right">
                <span>{{ updated_item|raw }}</span>
            </div>
        </div>
    </div>
</div>
