{# imports #}
{% import 'macros/_icons.html.twig' as icons %}

<div id="totals-panel" class="card mb-3">
    <div class="card-header">
        <h1 class="card-title">{{ icons.icon('list-ul', 'calculation.edit.panel_resume') }}</h1>
    </div>
    <div class="card-body py-1">
        <div class="table-responsive-sm">
            <table id="totals-table" class="table table-overview table-sm">
                <tbody>
                    {% include 'calculation/calculation_ajax_totals.html.twig' %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer py-1{% if new %} d-none{% endif %}">
        <div class="row">
            <div class="col-md-6 small text-muted my-md-1">
               <span>{{ created_item|raw }}</span>
            </div>
            <div class="col-md-6 small text-muted my-md-1 text-md-right">
                <span>{{ updated_item|raw }}</span>
            </div>
        </div>
    </div>
</div>
