{# imports #}
{% from 'macros/_icons.html.twig' import icon %}
{% from 'macros/_timestampable.html.twig' import timestampable %}
<div id="totals-panel" class="card mb-3">
    <div class="card-header">
        <h1 class="card-title">{{ icon('list-ul', 'calculation.edit.panel_resume') }}</h1>
    </div>
    <div class="card-body py-1 px-2">
        <div class="table-responsive">
            <table id="totals-table" class="table table-overview table-sm">
                <tbody>
                    {% include 'calculation/calculation_ajax_totals.html.twig' %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer py-1 px-3{% if new %} d-none{% endif %}">
        {{ timestampable(item) }}
    </div>
</div>
