{%- if count > 0 -%}
    {%- set href = path('calculation_table', {'query': code}) -%}
    <a href="{{ href }}" title="{{ 'calculationstate.list.calculation_title'|trans }}">{{ count|integer }}</a>
{%- else -%}
    {{ count|integer }}
{%- endif -%}
