{%- set count = item.countCalculations -%}
{%- set text  = count|integer -%}
{%- if count -%}
    {%- set href = path('calculation_table', {'query': item.code}) -%}
    <a href="{{ href }}" title="{{ 'calculationstate.list.calculation_title'|trans }}">{{ text }}</a>
{%- else -%}
    {{ text }}
{%- endif -%}
