{% extends 'cards/card_base.html.twig' %}
{% import 'macros/_properties.html.twig' as properties %}

{# parameters #}
{% set title      = 'Flex-Demo' %}
{% set title_icon = 'bandcamp' %}

{% block card_container_class '' %}
{% block card_footer_class 'd-none' %}
{% block card_body_class 'd-flex flex-row flex-wrap justify-content-center p-1' %}

{% block card_body %}
{% for item in items %}
    <div class="card-flex rounded border p-2 m-1 flex-fill">
        <h5 class="mb-1">
            {{ item.code }}
        </h5>
        <table class="table table-borderless table-sm ml-1 mr-0 my-0">
            {{ properties.line(item.description) }}
            {{ properties.separator() }}
            {{ properties.property('calculationstate.fields.calculations', item.countCalculations|integer) }}
	   </table>
    </div>
{% endfor %}
{% endblock %}
