{% extends 'cards/card_edit.html.twig' %}
{# parameters #}
{%- set title = 'test.recaptcha' -%}
{%- set title_icon = 'google fab' -%}
{%- set cancel_path = path('homepage') -%}
{%- set submit_params = {'data-toggle': 'recaptcha'} -%}
{# body #}
{% block card_body %}
    {{ parent() }}
    <div class="form-group text-end mb-0">
        <a href="https://developers.google.com/recaptcha/intro" target="_blank" rel="noopener noreferrer">reCAPTCHA API</a>
    </div>
{% endblock card_body %}
{# javascripts #}
{% block javascripts %}
    {{ parent() }}
    {{ asset_js('js/plugins/plugin-recaptcha.js') }}
    {{ asset_js('js/application/validation_edit.js') }}
{%- endblock javascripts %}
