{% import 'macros/_icons.html.twig' as icons %}
<a href="#" class="btn btn-back-to-top btn-outline-secondary d-print-none" title="{{ 'common.top_of_page'|trans }}">
    {{ icons.icon('arrow-up') }}
</a>
