{% from 'macros/_icons.html.twig' import icon %}
<button class="btn btn-back-to-top btn-outline-secondary d-print-none" title="{{ 'common.top_of_page'|trans }}">
    {{- icon('arrow-up') -}}
</button>
