{%- set key = constant('App\\Controller\\PolicyController::POLICY_ACCEPTED') -%}
{%- set is_dark_navigation = app.user and user_parameters.homePage.darkNavigation -%}
{% if app.user and not app.request.cookies.boolean(key) %}
    {% from 'macros/_icons.html.twig' import link %}
    <footer class="navbar navbar-footer navbar-cookie-banner bg-body-tertiary py-1 justify-content fixed-bottom small d-print-none"{% if is_dark_navigation %} data-bs-theme="dark"{% endif %}>
        <span class="navbar-text pe-0"> {{- 'cookie_banner.message'|trans }}</span>
        {{ link(href: path('about_policy_index'), text: 'cookie_banner.link', class: 'me-auto', title: 'cookie_banner.link_title') }}
        {{ link(href: path('policy_accept'), text: 'cookie_banner.accept', class: 'pe-3', title: 'cookie_banner.accept_title') }}
    </footer>
{% endif %}
