{% extends 'cards/card_edit.html.twig' %}
{# parameters #}
{%- set title = 'user.reset.title' -%}
{%- set title_icon = 'eraser' -%}
{%- set submit_text = 'common.button_delete' -%}
{%- set submit_class = 'btn btn-form btn-danger' -%}
{%- set show_required = false -%}
{# class #}
{% block card_class ' border-danger' %}
{% block card_header_class ' text-white bg-danger' %}
{# body #}
{% block card_body %}
    <p class="pt-2">{{ 'user.reset.confirmation'|trans({'%name%': name})|raw }}</p>
    {{ parent() }}
{%- endblock %}
