{% if is_granted(IS_IMPERSONATOR) %}
    {% from 'macros/_icons.html.twig' import link %}
    {% set id = app.user.id ?? 0 %}
    {% set current = app.token.user %}
    {% set original = app.token?.originalToken.user %}
    <div class="alert alert-warning my-0" role="alert">
        <div class="d-flex-wrap-center">
            <span class="flex-fill">
                {{- 'user.switch.connected'|trans({'%original%': original, '%current%': current})|raw -}}
            </span>
            {{- link(
                href: impersonation_exit_path(path('user_index', {id: id})),
                text: 'user.switch.exit.title',
                class: 'alert-link fw-normal',
                icon: 'user-slash') -}}
        </div>
    </div>
{% endif %}
