{% if is_granted('IS_IMPERSONATOR') %}
{% from 'macros/_icons.html.twig' import link %}
<div class="alert alert-warning my-2" role="alert">
    <div class="row">
        <div class="col-md-8">
            {{- 'user.switch.connected'|trans({'%original%': app.token.originalToken.userIdentifier, '%current%': app.user.userIdentifier})|raw -}}
        </div>
        <div class="col-md-4 text-md-right">
            {{- link(impersonation_exit_path(path('user_table', {'id': app.user.id|default(0)})), 'user.switch.exit.title', 'alert-link font-weight-normal', 'user-slash') -}}
        </div>
    </div>
</div>
{% endif %}
