{% if is_granted(IS_IMPERSONATOR) %}
{% from 'macros/_icons.html.twig' import link %}
<div class="alert alert-warning my-0" role="alert">
    <div class="d-flex-wrap-center">
        <span class="flex-fill">{{- 'user.switch.connected'|trans({'%original%': app.token.originalToken.userIdentifier, '%current%': app.user.userIdentifier})|raw -}}</span>
        {{- link(impersonation_exit_path(path('user_index', {id: app.user.id|default(0)})), 'user.switch.exit.title', 'alert-link fw-normal', 'user-slash') -}}
    </div>
</div>
{% endif %}
