name: Stylelint

on: [ push, pull_request ]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            -   name: Checkout code
                uses: actions/checkout@v6

            -   name: stylelint
                uses: reviewdog/action-stylelint@v1
                with:
                    reporter: github-check
                    stylelint_input: 'public/css/*.css'
