name: Stylelint

on: [ push, pull_request ]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            -   name: Checkout code
                uses: actions/checkout@v6

            -   name: stylelint
                uses: reviewdog/action-stylelint@v1.30.2
                with:
                    reporter: github-check
                    stylelint_config: '.stylelintrc.json'
                    stylelint_input: 'public/css/*.css'
                    fail_level: warning
